﻿@using SmartShop.DAL
@model ProductGroup

<div id="insert-content">
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
        <!-- widget div-->
        <div role="content">
            <!-- widget content -->
            <div class="widget-body no-padding">
                @using (Ajax.BeginForm("Save", "NhomSanPham", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "SaveSuccess" }, new { @class = "smart-form" }))
                {
                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Tên Nhóm sản phẩm</label>
                            </section>
                            <section class="col col-8">
                                @Html.TextBox("ProductGroupID", @Model.ProductGroupID, new { @style = "display: none;" })
                                <label class="input">
                                    @Html.TextBox("GroupName", @Model.GroupName, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Mô tả</label>
                            </section>
                            <section class="col col-8">
                                <label class="input">
                                    @Html.TextBox("Description", @Model.Description, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Tên tắt</label>
                            </section>
                            <section class="col col-8">
                                <label class="input">
                                    @Html.TextBox("ShortName", @Model.ShortName, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Ảnh chính</label>
                            </section>
                            <section class="col col-8">
                                <div class="input input-file">
                                    <span class="button">
                                        <input type="file" id="fileAnhChinh" name="file" onchange="this.parentNode.nextSibling.value = this.value">Duyệt
                                    </span>
                                    <input name="Img" type="text" value="@Model.Img" placeholder="Include some files" readonly="">
                                </div>
                            </section>
                        </div>
                        <label class="input">
                            <input type="submit" value="Thêm" id="NhomSanPhamSubmit" style="display: none;" />
                        </label>
                    </fieldset>
                }

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
</div>
