﻿@using SmartShop.DAL
@using SmartShop.Utilities
@model List<ProductGroup>

@{
    foreach (var item in Model)
    {
        string path = HeThong.duongdan_anhPhysical(0, item.Img);
        <tr>
            <td>@item.ProductGroupID</td>
            <td>@item.GroupName</td>
            <td>@item.ShortName</td>
            <td>@item.Description</td>
            <td>@item.NoSymbolName</td>
            <td>
                <img src="@path" width="60" height="60" alt="@item.GroupName">
            </td>
            <td>
                <a href="javascript:void(0);" onclick="createProcess('@item.ProductGroupID');">
                    <i class="fa fa-lg fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="javascript:void(0);" onclick="deleteProcess('@item.ProductGroupID');">
                    <i class="fa fa-lg fa-trash-o"></i>
                </a>
            </td>
        </tr>
    }
}