﻿@using SmartShop.DAL
@using SmartShop.Utilities
@model List<Artical>

@foreach (Artical item in Model)
{
    var url = Html.Raw(Url.Action("Index", "BaiViet")) + "?id=" + item.ArticalID;
    string path = HeThong.duongdan_anhSP(item.ArticalID, item.MasterImage);
    <div class="rightnewscatitemwrp">
        <div class="rightnewscatitemct">
            <div class="rightnewscatitemctleft">
                <div class="rightmewscatimgct">
                    <a href="@url"><img src="@path" border="0" /></a>
                </div>
            </div>
            <div class="rightnewscatitemctright">
                <div class="rightnewscatittt">
                    <a href="@url">@item.Title</a>
                </div>
                <div class="rightnewscatitdesc">
                    @item.Summery
                </div>
                <div class="rightnewscatitday">

                    @if (!item.PublishDate.IsNullOrEmpty())
                    {
                        <span>
                            @item.PublishDate.Value.DateToString("dd/MM/yyyy")
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
}