﻿@using SmartShop.DAL
@using SmartShop.UI
@using SmartShop.Utilities
@model int
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    List<ArticalCategory> catAll = ArticalCatSvr.GetAllItem();
    ArticalCategory cat = catAll.FirstOrDefault(e => e.ArticalCatID == Model);
    List<ArticalCategory> catOther = catAll.Where(e => e.ArticalCatID != Model).ToList();
    ViewBag.Title = cat.ArticalCatName;
}

<script>
    $(document).ready(function () {
        TimKiem();
    });

    function TimKiem(page) {
        var url = '/TinTuc/GetData';
        var obj = new Object();
        obj.keyword = $('#txtKeyword').val().trim();
        obj.catId = @Model;
        obj.pageSize = 10;
        obj.currentPage = page;
        $("#tinTucDiv").load(url, obj);
    };
</script>

<div id="dv_3" class="giuawrp">
    <div id="dvquicknav" class="quicknavwrp">
        <a id="ctl08_lktohome" href="#">Trang Chủ</a>
        <span class="quicknext">&nbsp;</span> <span id="ctl08_spCatTitleNav">@cat.ArticalCatName</span>
    </div>
    <div id="undsp" class="space10px">
        &nbsp;
    </div>
    <div id="dvmainprwrp" class="mainproductwrp">
        <div class="mainproductleftwrp">
            <div class="mainproductleftct">
                @foreach (ArticalCategory item in catOther)
                {
                    List<Artical> data = ArticalSvr.GetSameCat(item.ArticalCatID);
                    if (!data.IsNullOrEmpty() && data.Count > 0)
                    {
                        data = data.Skip(0).Take(5).ToList();
                        <div class="leftcolumblockwrp">
                            <div class="leftcolumblockhd">
                                <span>@item.ArticalCatName</span>
                            </div>
                            <div class="leftcolumblockct2">
                                <div class="leftsubcatwrp">
                                    @foreach (Artical artical in data)
                                    {
                                        var url = Html.Raw(Url.Action("Index", "BaiViet")) + "?id=" + artical.ArticalID;
                                        string path = HeThong.duongdan_anhSP(artical.ArticalID, artical.MasterImage);

                                        <div class="leftsubproitemwrp">
                                            <div class="leftsubproimgwrp">
                                                <div class="leftsubproimgcontent">
                                                    <a href="@url"><img src="@path" border="0" /></a>
                                                </div>
                                            </div>
                                            <div class="leftsubproinfowrp">
                                                <div class="leftsubnewsdate">
                                                    @if (!artical.PublishDate.IsNullOrEmpty())
                                                    {
                                                        <span>
                                                            @artical.PublishDate.Value.DateToString("dd/MM/yyyy")
                                                        </span>
                                                    }
                                                </div>
                                                <div class="leftsubnewstieude">
                                                    <span>
                                                        <a href="@url">@artical.Title</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="newsreadmorebtn">
                                <div class="newsreadmorebtnct">
                                    <div class="rightblreadmorect">
                                        <a href="@(Html.Raw(Url.Action("Index", "TinTuc")) + "?catId=" + item.ArticalCatID)">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="space240"></div>
            </div>
        </div>

        <div class="mainproductrightwrp">
            <div>
                <div class="mainproductrightct">
                    <div class="rightnewsblock">
                        <div id="tinTucDiv">
                        </div>
                        <div class="newscatpagingwrp">
                            <span class="NavegationBar">
                                <a href="#">First</a>
                                <a href="#">Previous</a>
                                <a href="#">Next</a>
                                <a href="#">Last</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="dv_5" class="newswrp">
        <div id="dvnewsct" class="newscontent">
            <!--bl-->
            <div class="newsblwrp">
                <div class="newsblctn">
                    <div class="newsblhd">
                        <a id="ctl13_HyperLink3" href="#">Hướng dẫn - Câu hỏi thường gặp</a>
                    </div>
                    <div class="newsblbdct">
                        <a href="#">Chính sách giao hàng toàn quốc</a>
                    </div>
                </div>
            </div>
            <!--end bl-->
            <div class="newsblwrp2px">&nbsp;</div>
            <!--bl-->
            <div class="newsblwrp">
                <div class="newsblctn">
                    <div class="newsblhd">
                        <a id="ctl13_HyperLink1" href="#">Hàng thanh lý</a>
                    </div>
                    <div class="newsblbdct">
                        <a href="#">Cần bán lô hàng</a>
                    </div>
                </div>
            </div>
            <!--end bl-->
            <div class="newsblwrp2px">&nbsp;</div>
            <!--bl-->
            <div class="newsblwrp">
                <div class="htlblockbodyct">
                    <p>
                        <img src="imgpost/FreeAdv.jpg" width="332" height="194" alt="" />
                    </p>
                </div>
            </div>
            <!--end bl-->
        </div>
    </div>*@
