﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->

    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/font-awesome.min.css")" />

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/smartadmin-production.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/smartadmin-skins.css")" />

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/your_style.css")" />

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/img/favicon/favicon.ico")" type="image/x-icon" />

    <!-- GOOGLE FONT -->
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />*@
    <link href="@Url.Content("~/Content/css/googleapis.css")" rel="stylesheet" />

    <!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/img/splash/sptouch-icon-iphone.png")" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Content/img/splash/touch-icon-ipad.png")" />
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Content/img/splash/touch-icon-iphone-retina.png")" />
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Content/img/splash/touch-icon-ipad-retina.png")" />

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/img/splash/ipad-landscape.png")" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/img/splash/ipad-portrait.png")" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/img/splash/iphone.png")" media="screen and (max-device-width: 320px)" />

    <!--================================================== -->

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="@Url.Content("~/Scripts/js/libs/jquery-2.0.2.min.js")"></script>

    <script src="@Url.Content("~/Scripts/js/libs/jquery-ui-1.10.3.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/Scripts/CommonScript.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>

</head>
<body class="">
    <!-- POSSIBLE CLASSES: minified, fixed-ribbon, fixed-header, fixed-width
			 You can also add different skin classes such as "smart-skin-1", "smart-skin-2" etc...-->

    <!-- HEADER -->
    @Html.Partial("_Header")
    <!-- END HEADER -->

    <!-- NAVIGATION -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    @Html.Partial("_Navigattion")
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->

    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"><span id="refresh" class="btn btn-ribbon" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span></span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <!-- This is auto generated -->
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">
            @RenderBody()
        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

    <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
		Note: These tiles are completely responsive,
		you can add as many as you like
		-->
    @Html.Partial("_ShortCut")
    <!-- END SHORTCUT AREA -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script src="@Url.Content("~/Scripts/js/plugin/pace/pace.min.js")"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events -->
    <script src="@Url.Content("~/Scripts/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js")"></script>

    <!-- BOOTSTRAP JS -->
    <script src="@Url.Content("~/Scripts/js/bootstrap/bootstrap.min.js")"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="@Url.Content("~/Scripts/js/notification/SmartNotification.min.js")"></script>

    <!-- JARVIS WIDGETS -->
    <script src="@Url.Content("~/Scripts/js/smartwidgets/jarvis.widget.min.js")"></script>

    <!-- EASY PIE CHARTS -->
    <script src="@Url.Content("~/Scripts/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js")"></script>

    <!-- SPARKLINES -->
    <script src="@Url.Content("~/Scripts/js/plugin/sparkline/jquery.sparkline.min.js")"></script>

    <!-- JQUERY VALIDATE -->
    <script src="@Url.Content("~/Scripts/js/plugin/jquery-validate/jquery.validate.min.js")"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="@Url.Content("~/Scripts/js/plugin/masked-input/jquery.maskedinput.min.js")"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="@Url.Content("~/Scripts/js/plugin/select2/select2.min.js")"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="@Url.Content("~/Scripts/js/plugin/bootstrap-slider/bootstrap-slider.min.js")"></script>

    <!-- browser msie issue fix -->
    <script src="@Url.Content("~/Scripts/js/plugin/msie-fix/jquery.mb.browser.min.js")"></script>

    <!-- FastClick: For mobile devices: you can disable this in app.js -->
    <script src="@Url.Content("~/Scripts/js/plugin/fastclick/fastclick.js")"></script>

    @*<script src="@Url.Content("~/Scripts/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js")"></script>*@

    <script src="@Url.Content("~/Scripts/js/plugin/date-time/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/date-time/bootstrap-timepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/date-time/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/date-time/daterangepicker.min.js")"></script>

    <!--[if IE 7]>


        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->

    <!-- MAIN APP JS FILE -->
    <script src="@Url.Content("~/Scripts/js/app.js")"></script>

    <!-- Your GOOGLE ANALYTICS CODE Below -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    @* @RenderSection("scripts", required: false)*@
</body>
</html>
