﻿@using SmartShop.UI.Models
@{
    ViewBag.Title = "shopdien - Mua sắm trực tuyến: thiết bị chăm sóc sức khỏe, đồ dùng trẻ em ...";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var shoppingCart = (List<GioHangModel>)HttpContext.Current.Session["ShoppingCart"];

}
<!-- start: Promotion  -->
<!-- end: Promotion  -->
<body class="ecommerce">
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="main">
        <div class="container">
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <!-- BEGIN CHECKOUT PAGE -->
                    <div class="panel-group checkout-page accordion scrollable margin-top-20" id="checkout-page">
                        @*<form action="@Url.Action("BookNow", "GioHang")" method="POST" id="check-out-cart">*@
                            <!-- BEGIN PAYMENT ADDRESS -->
                            <div id="payment-address" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <span class="accordion-toggle">
                                            Thông tin chi tiết
                                        </span>
                                    </h2>
                                </div>
                                <div id="payment-address-content" class="panel-collapse collapse in">
                                    <div class="panel-body row">
                                        <h3>Thông tin giao hàng</h3>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="trueName">Họ tên<span class="require">*</span></label>
                                                <input type="text" name="TrueName" id="trueName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="acountLogin">Tài khoản</label>
                                                <input type="text" name="AcountLogin" id="acountLogin" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="acountPass">Mật khẩu</label>
                                                <input type="text" name="AcountPass" id="acountPass" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">E-Mail <span class="require">*</span></label>
                                                <input type="text" name="Email" id="email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Điện thoại <span class="require">*</span></label>
                                                <input type="text" name="Phone" id="phone" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Địa chỉ giao hàng<span class="require">*</span></label>
                                                <input type="text" id="address" name="Address" class="form-control">
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAYMENT ADDRESS -->
                            <!-- BEGIN CONFIRM -->
                            <div id="confirm" class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <span class="accordion-toggle">
                                            Đơn hàng
                                        </span>
                                    </h2>
                                </div>
                                <div id="confirm-content" class="panel-collapse collapse in">
                                    <div class="panel-body row">
                                        <div class="col-md-12 clearfix">
                                            @if (shoppingCart != null && shoppingCart.Any())
                                            {
                                                <div class="table-wrapper-responsive">
                                                    <table>
                                                        <tr>
                                                            <th>Hình ảnh</th>
                                                            <th>Tên sản phẩm</th>
                                                            <th>Số lượng</th>
                                                            <th>Giá</th>
                                                            <th></th>
                                                        </tr>
                                                        @foreach (var item in shoppingCart)
                                                        {
                                                            var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + item.ProductId;
                                                            <tr class="cart-item">
                                                                <td class="checkout-image">
                                                                    <a href="@href"><img src="@item.ImageUrl" alt="@item.ProductName"></a>
                                                                </td>
                                                                <td class="checkout-description">
                                                                    <h3>
                                                                        <a href="@href">@item.ProductName</a>
                                                                    </h3>
                                                                </td>
                                                                <td class="checkout-quantity">@item.Quantity</td>
                                                                <td class="checkout-price"><strong>@String.Format("{0:0,0;(0:0,0);Liên hệ}", item.Price)</strong></td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="RemoveFromCart('@item.ProductId', this)">Xóa</a>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </table>
                                                </div>
                                                <div class="checkout-total-block">
                                                    <ul>
                                                        <li class="checkout-total-price">
                                                            <em>Tổng</em>
                                                            <strong class="price" id="checkOutTotalPrice">@String.Format("{0:0,0;(0:0,0);Liên hệ}", shoppingCart.Sum(x => x.Price))</strong>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="clearfix"></div>
                                                <a class="btn btn-primary pull-right" onclick="OrderNow()" id="button-confirm">Tiếp tục</a>
                                            }
                                            else
                                            {
                                                <p>Chưa có sản phẩm nào trong giỏ hàng!</p>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        @*</form>*@
                        <!-- END CONFIRM -->
                    </div>
                    <!-- END CHECKOUT PAGE -->
                </div>
                <!-- END CONTENT -->
            </div>
            <div class="row">
                @Html.Partial("_ProviderHomePage")
            </div>
        </div>
    </div>
</body>

<script>
    function RemoveFromCart(productId, obj) {
        var data = {};
        data.productId = productId;
        $.ajax('@Url.Action("RemoveFromCart", "GioHang")', {
            data: data,
            type: "POST",
            success: function (result) {
                if (result.Success) {
                    alert(result.Message);
                }
                $(obj).closest('.cart-item').remove();
                $("#shoppingCart").load("/Trangchu/ShoppingCart");
                setTimeout(function () {
                    var total = $('#topCartTotalValue').html();
                    $('#checkOutTotalPrice').html(total);
                }, 1500);
            },
            error: function () {

            }
        });
    }

    function OrderNow() {
        var data = {};
        data.trueName = $("#trueName").val();
        data.acountLogin = $("#acountLogin").val();
        data.acountPass = $("#acountPass").val();
        data.email = $("#email").val();
        data.phone = $("#phone").val();
        data.address = $("#address").val();
        $.ajax('@Url.Action("OrderNow", "GioHang")', {
            data: data,
            type: "POST",
            success: function (result) {
                if (result.Success) {
                    alert(result.Message);
                    window.location = "/";
                }
            },
            error: function () {

            }
        });
    }
</script>