﻿@using SmartShop.UI
@model CatGroupProductModel

@{
    ViewBag.Title = Model.ObjProductGroup.GroupName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: Banner  -->
@Html.Partial("_MenuSubPage")
<!-- end: Banner  -->
<!-- start: Promotion  -->
<!-- start : Content -->
<div class="zonespace"></div>
<div class="content">
    <!-- start: phan trai -->
    <div class="left_content">
        @Html.Partial("_MenuLeft")
        @Html.Partial("_ProviderSubPage")
        @Html.Partial("_BestBuySubPage")
    </div>
    <!-- end : phan trai -->

    <!-- start: phan phai -->
    <div class="right_content">
        <div class="nav-pro-title medium grey">
            <a href="trang-chu">Trang chủ</a> > 
            <a href="trang-chu" alt="@Model.ObjCategory.CategoryName" class="current">
                @Model.ObjCategory.CategoryName
            </a>
        </div>
        <div id="widget-sanpham" class="widget">
            <div class="cssproductlist_holder" id="divProductByCategoryContentdbe9ccf2">
                <div class="product-filter">
                    <div class="product_viewstyle">
                        <p>
                            Hiển thị :
                        </p>
                        <a href="javascript:ClientViewList('dbe9ccf2','thiet-bi-y-te-gia-dinh','thiet-bi-y-te-gia-dinh', 'pa','0');"
                            id="list_nodisplay" title="Xem theo kiểu một cột trên một dòng"></a>
                        <div id="grid_display">
                        </div>
                    </div>
                    <div class="ShowBox">
                        Số lượng :
                    <select id="cmbPageSize" onchange="HtmlPager(1);">
                        <option value="12" selected="selected">12</option>
                        <option value="24">24</option>
                        <option value="48">48</option>
                    </select>
                    </div>
                    <div class="SortBox">
                        Sắp xếp theo :
                    <select id="cmbType" onchange="HtmlPager(1);">
                        <option value="0" selected="selected">Hàng mới</option>
                        <option value="1">Giá tăng dần</option>
                        <option value="2">Giá giảm dần</option>
                    </select>
                    </div>
                </div>
                <div class="clear">
                </div>
                <div id="divContent">
                    @Html.Action("GetData", new { lstThuongHieu = "", field = "ID", type = "ASC" })
                </div>
                @*<asp:literal id="ltrPager" runat="server" text=""></asp:literal>*@
            </div>
        </div>
        <script type="text/javascript">
            $(window).load(function () {
            });
            function HtmlPager(page) {
                var obj = new Object();
                var type = $("#cmbType").val();
                if (type == "0")
                {
                    obj.field = "ID";
                    obj.type = "ASC";
                }
                else if (type == "1") {
                    obj.field = "YTE_GIA_BAN";
                    obj.type = "ASC";
                }
                else if (type == "2") {
                    obj.field = "YTE_GIA_BAN";
                    obj.type = "DESC";
                }
                obj.lstThuongHieu = "";
                $("input[id^='chkProvider_']").each(function (i, el) {
                    //It'll be an array of elements
                    if ($("#" + el.id).is(':checked')) {
                        obj.lstThuongHieu += "|" + $("#" + el.id).val();
                    }
                });
                if (obj.lstThuongHieu != "")
                    obj.lstThuongHieu = obj.lstThuongHieu.substring(1, obj.lstThuongHieu.length);
                obj.currentPage = page;
                obj.pageSize = $("#cmbPageSize").val();
                $("#divContent").load("/Nhomchitiet/GetData", obj);
            }
        </script>
    </div>
    <!-- end : phan phai -->
</div>
<!-- end : Content -->
