﻿@using SmartShop.DAL
@using SmartShop.Utilities
@model List<vwShoppingOrder_Member>

@{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.OrderCode</td>
            <td>@item.AcountLogin</td>
            <td>@item.OrderDate</td>
            <td>@item.RequiredDate</td>
            <td>@item.ShippedDate</td>
            <td>@item.ShipAddress</td>
            <td>@item.ShipCity</td>
            <td>
                <a href="javascript:void(0);" onclick="createProcess('@item.OrderID');">
                    <i class="fa fa-lg fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="javascript:void(0);" onclick="deleteProcess('@item.OrderID');">
                    <i class="fa fa-lg fa-trash-o"></i>
                </a>
            </td>
        </tr>
    }
}