﻿@using SmartShop.DAL
@model ShoppingOrder
<script type="text/javascript">
    function TotalOnAmount() {
        var table = document.getElementById('<%= gridDefaultPSet.ClientID %>');
        $("input[id*=txtAmount]").blur(function () {
            var total = 0;
            for (var i = 2; i < table.rows.length; i++) {
                var txtAmount = document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_txtAmount").value;
                var txtDisCount = document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_txtDisCount").value;
                var lblPrice = document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_lblPrice").innerHTML;
                if (isNaN(txtAmount) || txtAmount == "")
                    txtAmount = 0;
                else
                    txtAmount = parseFloat(txtAmount);
                if (isNaN(txtDisCount) || txtDisCount == "")
                    txtDisCount = 0;
                else
                    txtDisCount = parseFloat(txtDisCount);
                if (isNaN(lblPrice) || lblPrice == "")
                    lblPrice = 0;
                else
                    lblPrice = parseFloat(lblPrice);
                total = lblPrice * txtAmount - txtDisCount;
                if (total < 0) {
                    alert("Chiết khấu không được lớn hơn tổng giá trị hạng mục đơn hàng!");
                    document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_txtDisCount").focus();
                }
                document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_txtTotal").innerHTML = total;
                document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_hdfTotal").value = total;
            }
        });
    }
    function TotalOnDisCount() {
        var table = document.getElementById('<%= gridDefaultPSet.ClientID %>');
        $("input[id*=txtDisCount]").blur(function () {
            var total = 0;
            for (var i = 2; i < table.rows.length; i++) {
                var txtAmount = document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_txtAmount").value;
                var txtDisCount = document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_txtDisCount").value;
                var lblPrice = document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_lblPrice").innerHTML;
                if (isNaN(txtAmount) || txtAmount == "")
                    txtAmount = 0;
                else
                    txtAmount = parseFloat(txtAmount);
                if (isNaN(txtDisCount) || txtDisCount == "")
                    txtDisCount = 0;
                else
                    txtDisCount = parseFloat(txtDisCount);
                if (isNaN(lblPrice) || lblPrice == "")
                    lblPrice = 0;
                else
                    lblPrice = parseFloat(lblPrice);
                total = lblPrice * txtAmount - txtDisCount;
                if (total < 0) {
                    alert("Chiết khấu không được lớn hơn tổng giá trị hạng mục đơn hàng!");
                    document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_txtDisCount").focus();
                }
                document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_txtTotal").innerHTML = total;
                document.getElementById("ctl00_cphMain_gridDefaultPSet_ctl0" + i + "_hdfTotal").value = total;
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        Sys.Application.add_load(TotalOnAmount);
        Sys.Application.add_load(TotalOnDisCount);
    });
</script>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
        <button id="btnBack" class="btn btn-small" value="Danh sách" />
    </div>
    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
    </div>
</div>
<hr />
<div id="insert-content">
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
        <!-- widget div-->
        <div role="content">
            <!-- widget content -->
            <div class="widget-body no-padding">
                @using (Ajax.BeginForm("Save", "DonHang", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "SaveSuccess" }, new { @class = "smart-form" }))
                {
                    <fieldset>

                        <div class="row">
                            <div class="span12">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                        Mã đơn hàng <span style="float: right; color: Red">* &nbsp;</span>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                        <input id="txtOrderCode" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                        Ngày yêu cầu <span style="float: right; color: Red">* &nbsp;</span>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                        <input id="txtRequiredDate" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                        Ngày chuyển <span style="float: right; color: Red">* &nbsp;</span>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                        <input id="txtShippedDate" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                        Địa chỉ chuyển <span style="float: right; color: Red">* &nbsp;</span>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                        <input id="txtShipAddress" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                        Số điện thoại <span style="float: right; color: Red">* &nbsp;</span>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                        <input id="txtShipCity" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                        <label>
                                            Trạng thái duyệt :
                                        </label>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                        <div class="controls">
                                            <label>
                                                <input id="radDangXL" name="rdbtnDuyet" type="radio" checked="checked" />
                                                <span class="lbl">Đang xử lý</span>
                                            </label>
                                            <label>
                                                <input id="radDaXL" name="rdbtnDuyet" type="radio" />
                                                <span class="lbl">Đã thanh toán</span>
                                            </label>
                                            <label>
                                                <input id="radHuyHD" name="rdbtnDuyet" type="radio" />
                                                <span class="lbl">Hủy hóa đơn</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                        Sản phẩm
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                        <a href="#modal-form" role="button" class="blue" data-toggle="modal">Chọn sản phẩm</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sản phẩm</th>
                                                <th>Đơn giá</th>
                                                <th>Chiết khấu</th>
                                                <th>Số lượng</th>
                                                <th>Thành tiền</th>
                                                <th>Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model.ShoppingOrderDetails)
                                                {
                                                    <tr>
                                                        <td>@item.ProductID</td>
                                                        <td>@item.Price</td>
                                                        <td>@item.Discount</td>
                                                        <td>@item.Amount</td>
                                                        <td>@(item.Amount*(item.Price-item.Discount))</td>
                                                        <td>
                                                            <a href="javascript:void(0);" onclick="deleteProcess('@item.OrderID');">
                                                                <i class="fa fa-lg fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        </table>
                                        <div class="span12">
                                            <asp:GridView id="gridDefaultPSet" runat="server" Width="100%" class="table table-striped table-bordered table-hover"
                                                          DataKeyNames="ProductID" AutoGenerateColumns="False"
                                                          OnRowCommand="gridDefaultPSet_RowCommand" ShowFooter="true">
                                                <Columns>
                                                    <asp:TemplateField HeaderText="STT" ItemStyle-Width="15px">
                                                        <ItemTemplate>
                                                            <%# Container.DataItemIndex + 1%>
                                                            <asp:HiddenField id="hfID" runat="server" Value='<%#Eval("ProductID") %>' />
                                                            <asp:HiddenField id="hdfOrderDetailID" runat="server" Value='<%#Eval("OrderDetailID") %>' />
                                                        </ItemTemplate>
                                                        <ItemStyle Width="5px" />
                                                    </asp:TemplateField>
                                                    <asp:TemplateField HeaderText="Tên sản phẩm">
                                                        <ItemTemplate>
                                                            <asp:Label id="lblProductSetName" runat="server" Text='<%#Eval("ProductName") %>'></asp:Label>
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField ItemStyle-Width="120px" HeaderText="Giá" ItemStyle-HorizontalAlign="Right">
                                                        <ItemTemplate>
                                                            <asp:Label id="lblPrice" runat="server" Text='<%# Eval("Price") == null ? "0" : Eval("Price", "{0:#,###}") %>'></asp:Label>
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField HeaderText="Số lượng" ItemStyle-Width="60px">
                                                        <ItemTemplate>
                                                            <input id="txtAmount" runat="server" Text='<%# Eval("Amount") == null ? "0" : Eval("Amount", "{0:#,###}") %>'
                                                                   onkeyup="tinhTienDonHang(this, 'txtAmount')" AutoComplete="off" alt="decimal" Width="55px"></input>
                                                            <asp:RequiredFieldValidator id="vlTien" runat="server" ErrorMessage="Yêu cầu nhập số lượng"
                                                                                        ValidationGroup="btnSubmit" Display="Dynamic" CssClass="require" ControlToValidate="txtAmount"></asp:RequiredFieldValidator>
                                                            <asp:FilteredTextBoxExtender id="FilteredTextBoxExtender6" runat="server" TargetControlid="txtAmount"
                                                                                         ValidChars="0123456789">
                                                            </asp:FilteredTextBoxExtender>
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField HeaderText="Chiết khấu" ItemStyle-Width="120px">
                                                        <ItemTemplate>
                                                            <input id="txtDisCount" runat="server" Text='<%# Eval("DisCount") == null ? "0" : Eval("DisCount", "{0:#,###}") %>'
                                                                   onkeyup="tinhTienDonHang(this, 'txtDisCount')" AutoComplete="off" alt="decimal" Width="115px"></input>
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField HeaderText="Tổng tiền" ItemStyle-Width="120px" ItemStyle-HorizontalAlign="Right">
                                                        <ItemTemplate>
                                                            <asp:Label id="lblTotal" runat="server" Text='<%# Eval("Total") == null ? "0" : Eval("Total", "{0:#,###}") %>'
                                                                       AutoComplete="off" alt="decimal" Width="115px"></asp:Label>
                                                            <asp:HiddenField id="hdfTotal" runat="server" Value='<%#Eval("Total") %>' />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <%-- <asp:BoundField DataField="Unit" HeaderText="Đơn vị tính" HtmlEncode="false" />--%>
                                                    <asp:TemplateField ItemStyle-Width="50px">
                                                        <ItemTemplate>
                                                            <asp:LinkButton id="aitbtnDelete" CommandName="DeleteItem" Permission="DeleteItem" ToolTip="Xóa" CommandArgument='<%#Eval("ProductID") %>'
                                                                            OnClientClick="javascript: return confirm('Bạn có chắc chắn xóa không?');" runat="server"><i class="icon-trash bigger-150"></i></asp:LinkButton>
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                </Columns>
                                            </asp:GridView>
                                        </div>
</div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                        <label>
                                        </label>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                        <div style="padding-top: 5px;">
                                            <button id="btnSubmit" class="btn btn-small" Text="Lưu lại" OnClick="btnSubmit_Click" />
                                            <button id="btnCLose" class="btn btn-small" Text="Danh sách" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="modal-form" class="modal hide" tabindex="-1">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger">Danh sách sản phẩm</h4>
                                </div>

                                <div class="modal-body overflow-visible" style="height: 350px; overflow: auto;">
                                    <uc1:Products id="Products1" runat="server" OnEventSelectedid="GetListID" />
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-small" data-dismiss="modal">
                                        <i class="icon-remove"></i>
                                        Hủy
                                    </button>

                                    <button class="btn btn-small btn-primary" onserverclick="GetListID" data-dismiss="modal">
                                        <i class="icon-ok"></i>
                                        Lưu
                                    </button>
                                </div>
                            </div>
                        </div>
                        <label class="input">
                            <input type="submit" value="Thêm" id="DonHangSubmit" style="display: none;" />
                        </label>
                    </fieldset>
                }

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
</div>

<script type="text/javascript">
    function tinhTienDonHang(textBox, id) {
        var lblPrice = document.getElementById(textBox.id.replace(id, "lblPrice"));
        var txtDisCount = document.getElementById(textBox.id.replace(id, "txtDisCount"));
        var txtAmount = document.getElementById(textBox.id.replace(id, "txtAmount"));
        var lblTotal = document.getElementById(textBox.id.replace(id, "lblTotal"));
        lblTotal.innerHTML = formatStringToNumber(((parseFloat(lblPrice.innerHTML.replace(",", ".")) * parseFloat(txtAmount.value.replace(",", "."))) - parseFloat(txtDisCount.value.replace(",", "."))));
    }
    function formatStringToNumber(Amount) {
        var DecimalSeparator = Number("1.2").toLocaleString().substr(1, 1);

        var AmountWithCommas = Amount.toLocaleString();
        var arParts = String(AmountWithCommas).split(DecimalSeparator);
        var intPart = arParts[0];
        var decPart = (arParts.length > 1 ? arParts[1] : '');
        decPart = (decPart + '00').substr(0, 2);
        var dPart = decPart.replace(",00", "");

        return intPart + DecimalSeparator + dPart;
    }
</script>