﻿@model List<SmartShop.DAL.vwShoppingOrder_Member>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <script type="text/javascript">

        function openSearchBox() {
            $("#divSearch").show();
        }

        function closeSearchBox() {
            $("#divSearch").hide();
        }

        function createProcess(id) {
            var obj = new Object();
            if (typeof id != "undefined")
                obj.id = id;
            else
                obj.id = 0;
            $.getJSON("/DonHang/GetDetail", obj, function (data) {
                var target = $("#dialog-insert");
                target.empty();
                target.append(data);
                target.attr("title", "Thông tin Đơn hàng");
                $(".ui-dialog-title").html('Thông tin Đơn hàng');
                DialogYesNoConfirm($("#dialog-insert"), 700, "Lưu", "Hủy", function () {
                    var obj = new Object();
                    obj.ProductGroupID = $('[name="ProductGroupID"]').val();
                    obj.ParrentID = $('[name="ParrentID"]').val();
                    obj.GroupName = $('[name="GroupName"]').val();
                    obj.Description = $('[name="Description"]').val();
                    obj.TRANG_THAI = $('[name="TRANG_THAI"]').val();

                    if (obj.GroupName == null || obj.GroupName == "") {
                        $('[name="GroupName"]').focus();
                        $('[name="GroupName"]').select();
                        return;
                    }
                    else {
                        $('#DonHangSubmit').click();
                        //$("#dialog-insert").dialog("close");
                    }
                });
            });
        }

        function searchProcess() {
            var obj = new Object();
            obj.keyword = $("#txtKeyword").val();
            obj.pagesize = 10;
            obj.currentpage = 1;
            obj.strFromDate = $("#txtFromDate").val();
            obj.strToDate = $("#txtToDate").val();
            obj.memberID = $("#ddMember").val();
            $("#tableBody").load("/DonHang/GetData", obj);
        }

        function SaveSuccess(data) {
            alert('Lưu dữ liệu thành công.');
            $("#tableBody").load("/DonHang/GetData");
        }

        function deleteProcess(id) {
            if (id != "") {
                if (confirm('Bạn có chắc muốn xóa không ?')) {
                    var obj = { id: id };
                    $.getJSON("/DonHang/Delete", obj, function (data) {
                        $("#tableBody").load("/DonHang/GetData");
                    });
                }
            }
        }
    </script>

    @Html.Partial("TimKiem", null)

    <div class="row margin-top-10">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-table"></i></span>
                    <h2>Danh sách Đơn hàng</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="widget-body-toolbar">
                        </div>
                        <table id="datatable_tabletools" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Mã đơn</th>
                                    <th>Người xử lý</th>
                                    <th>Ngày đặt</th>
                                    <th>Ngày Y/C</th>
                                    <th>Ngày giao</th>
                                    <th>Địa chỉ</th>
                                    <th>Thành phố</th>
                                    <th>Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                @*@Html.Action("GetData")*@
                            </tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->
    </div>
    <div>
    </div>
    <div id="dialog-insert" style="display: none;">
        @*@Html.Partial("GetDetail", new SmartShop.DAL.ShoppingOrder())*@
    </div>


    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="@Url.Content("~/Scripts/js/plugin/datatables/jquery.dataTables-cust.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/datatables/ColReorder.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/datatables/FixedColumns.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/datatables/ColVis.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/datatables/ZeroClipboard.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/datatables/media/js/TableTools.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugin/datatables/DT_bootstrap.js")"></script>


    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            pageSetUp();

            $("#divSearch").hide();

            // Date Range Picker
            $("#txtFromDate").datepicker({ dateFormat: 'dd-mm-yyyy' });
            $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yyyy' });

            /*
             * BASIC
             */
            $('#dt_basic').dataTable({
                "sPaginationType": "bootstrap_full"
            });

            /* END BASIC */

            /* Add the events etc before DataTables hides a column */
            $("#datatable_fixed_column thead input").keyup(function () {
                oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
            });

            $("#datatable_fixed_column thead input").each(function (i) {
                this.initVal = this.value;
            });
            $("#datatable_fixed_column thead input").focus(function () {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            });
            $("#datatable_fixed_column thead input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = this.initVal;
                }
            });


            var oTable = $('#datatable_fixed_column').dataTable({
                "sDom": "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                //"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
                "oLanguage": {
                    "sSearch": "Search all columns:"
                },
                "bSortCellsTop": true
            });



            /*
             * COL ORDER
             */
            $('#datatable_col_reorder').dataTable({
                "sPaginationType": "bootstrap",
                "sDom": "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                "fnInitComplete": function (oSettings, json) {
                    $('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
                }
            });

            /* END COL ORDER */

            /* TABLE TOOLS */
            $('#datatable_tabletools').dataTable({
                "sDom": "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                "oTableTools": {
                    "aButtons": ["copy", "print", {
                        "sExtends": "collection",
                        "sButtonText": 'Save <span class="caret" />',
                        "aButtons": ["csv", "xls", "pdf"]
                    }],
                    "sSwfPath": "@Url.Content("~/Scripts/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf")"
                },
                "fnInitComplete": function (oSettings, json) {
                    $(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function () {
                        $(this).addClass('btn-sm btn-default');
                    });
                }
            });

            /* END TABLE TOOLS */
        })
    </script>
