﻿@using SmartShop.DAL
@{
    var MemberSource = MemberDAL.getMemberSource();
}
<div class="row" style="margin-bottom: 10px;">
    <div class="col">
        <div style="float: left; margin-left: 5px;" id="createProcess">
            <button class="btn btn-app btn-info btn-small no-radius" onclick="createProcess()">
                <i class="fa fa-file-text"></i>
                <span style="font-size: 12px; margin-bottom: 0;">Thêm</span>
            </button>

            <button class="btn btn-app btn-info btn-small no-radius" onclick="searchProcess()">
                <i class="fa fa-search"></i>
                <span style="font-size: 12px; margin-bottom: 0;">Tìm</span>
            </button>

            <button class="btn btn-app btn-info btn-small no-radius" onclick="openSearchBox()">
                <i class="fa fa-expand-o"></i>
                <span style="font-size: 12px; margin-bottom: 0;">Mở</span>
            </button>
        </div>
    </div>
</div>
<div class="row" id="divSearch">
    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <label>
            Ngày đặt hàng:
        </label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 no-padding">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control hasDatepicker" id="txtFromDate" data-date-format='dd/mm/yyyy' type="text" placeholder="From">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control hasDatepicker" id="txtToDate" data-date-format='dd/mm/yyyy' type="text" placeholder="To">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <label>
            Lọc dữ liệu theo:
        </label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
        <label class="select">
            <select class="input-sm" id="ddlOrder">
                <option value="0">- Tất cả đơn hàng -</option>
                <option value="1">Đơn trong ngày</option>
                <option value="2">Đơn đã xử lý</option>
                <option value="3">Đơn chưa xử lý</option>
            </select> <i></i>
        </label>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <label>
            Người quản lý:
        </label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
        <label class="select">
            <select class="input-sm" id="ddMember">
                <option value="0">- Tất cả đơn hàng -</option>
                @foreach (var item in MemberSource)
                {
                    <option value="@item.MemberID">@item.TrueName</option>
                }
            </select> <i></i>
        </label>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <label>
            Từ khóa:
        </label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input type="text" id="txtKeyword" class="width-90" />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <button class="btn btn-app btn-info btn-small no-radius" onclick="closeSearchBox()">
            <i class="fa fa-collapse-o"></i>
            <span style="font-size: 12px; margin-bottom: 0;">Đóng</span>
        </button>
    </div>
</div>
