﻿@using SmartShop.Utilities
@using SmartShop.Admin
@model ProductModel
@{
    var lstNhomSp = ProductGroupSvr.GetAllItem();
    var lstNhaCungCap = ProductSvr.getThuongHieuSP();
}
<div id="insert-content">
    <div class="jarviswidget" id="wid-id-11" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
        <header>
            <ul id="widget-tab-1" class="nav nav-tabs pull-right">
                <li class="active">
                    <a data-toggle="tab" href="#hr1"><i class="fa fa-lg fa-arrow-circle-o-down"></i><span class="hidden-mobile hidden-tablet">Thông tin chung</span></a>
                </li>
                <li>
                    <a data-toggle="tab" href="#hr2"><i class="fa fa-lg fa-arrow-circle-o-up"></i><span class="hidden-mobile hidden-tablet">Sơ tả</span></a>
                </li>
                <li>
                    <a data-toggle="tab" href="#hr3"><i class="fa fa-lg fa-arrow-circle-o-up"></i><span class="hidden-mobile hidden-tablet">Tính năng</span></a>
                </li>
                <li>
                    <a data-toggle="tab" href="#hr4"><i class="fa fa-lg fa-arrow-circle-o-up"></i><span class="hidden-mobile hidden-tablet">Thông số</span></a>
                </li>
                <li>
                    <a data-toggle="tab" href="#hr5"><i class="fa fa-lg fa-arrow-circle-o-up"></i><span class="hidden-mobile hidden-tablet">Ảnh</span></a>
                </li>
            </ul>
        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">
                @using (Ajax.BeginForm("Save", "ChiTietSanPham", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "SaveSuccess" }, new { @class = "smart-form" }))
                {

                    <!-- widget body text-->

                    <div class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="hr1">

                            <fieldset>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">Nhóm sản phẩm</label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="select">
                                            <select name="ProductGroupID">
                                                @{
                                                    foreach (var item in lstNhomSp)
                                                    {
                                                        if (item.ProductGroupID == Model.ProductGroupID)
                                                        {
                                                            <option value="@item.ProductGroupID" selected="selected">@item.GroupName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.ProductGroupID">@item.GroupName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Mã sản phẩm</label>
                                    </section>
                                    <section class="col col-4">
                                        @Html.TextBox("ProductID", @Model.ProductID, new { @style = "display: none;" })
                                        <label class="input">
                                            @Html.TextBox("ProductCode", @Model.ProductCode, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">Tên sản phẩm</label>
                                    </section>
                                    <section class="col col-10">
                                        <label class="input">
                                            @Html.TextBox("ProductName", @Model.ProductName, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">Thương hiệu</label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="select">
                                            <select name="ProviderID">
                                                @{
                                                    foreach (var item in lstNhaCungCap)
                                                    {
                                                        if (item == Model.YTE_THUONG_HIEU)
                                                        {
                                                            <option value="@item" selected="selected">@item</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item">@item</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Xuất xứ</label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="input">
                                            @Html.TextBox("YTE_XUAT_XU", @Model.YTE_XUAT_XU, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">Giá bán</label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="input">
                                            @Html.TextBox("YTE_GIA_BAN", @Model.YTE_GIA_BAN, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Chiết khấu</label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="input">
                                            @Html.TextBox("YTE_CHIET_KHAU", @Model.YTE_CHIET_KHAU, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">Số lượng</label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="input">
                                            @Html.TextBox("Quantity", @Model.Quantity, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Bảo hành</label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="input">
                                            @Html.TextBox("YTE_BAO_HANH", @Model.YTE_BAO_HANH, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Xếp loại</label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="input">
                                            @Html.TextBox("YTE_DANH_GIA", @Model.YTE_DANH_GIA, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                </div>
                            </fieldset>

                        </div>
                        <div class="tab-pane fade" id="hr2">
                            @Html.TextAreaFor(model => model.YTE_SO_TA, new { @class = "summernote" })
                        </div>
                        <div class="tab-pane fade" id="hr3">
                            @Html.TextAreaFor(model => model.YTE_TINH_NANG, new { @class = "summernote" })
                        </div>
                        <div class="tab-pane fade" id="hr4">
                            @Html.TextAreaFor(model => model.YTE_THONG_SO, new { @class = "summernote" })
                        </div>
                        <div class="tab-pane fade" id="hr5">
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Ảnh chính</label>
                                </section>
                                <section class="col col-10">
                                    <div class="input input-file">
                                        <span class="button">
                                            <input type="file" id="fileAnhChinh" name="file" onchange="this.parentNode.nextElementSibling.value = this.value">Duyệt
                                        </span>
                                        <input name="YTE_ANH_CHINH" type="text" value="@Model.YTE_ANH_CHINH" placeholder="Include some files" readonly="">
                                    </div>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Ảnh phụ 1</label>
                                </section>
                                <section class="col col-10">
                                    <div class="input input-file">
                                        <span class="button">
                                            <input id="fileAnhPhu1" type="file" onchange="this.parentNode.nextElementSibling.value = this.value" name="file">Duyệt
                                        </span>
                                        <input name="YTE_ANH_PHU_1" type="text" value="@Model.YTE_ANH_PHU_1" placeholder="Include some files" readonly="">
                                    </div>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Ảnh phụ 2</label>
                                </section>
                                <section class="col col-10">
                                    <div class="input input-file">
                                        <span class="button">
                                            <input id="fileAnhPhu2" type="file" onchange="this.parentNode.nextElementSibling.value = this.value" name="file">Duyệt
                                        </span>
                                        <input name="YTE_ANH_PHU_2" type="text" value="@Model.YTE_ANH_PHU_2" placeholder="Include some files" readonly="">
                                    </div>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Ảnh phụ 3</label>
                                </section>
                                <section class="col col-10">
                                    <div class="input input-file">
                                        <span class="button">
                                            <input id="fileAnhPhu3" type="file" onchange="this.parentNode.nextElementSibling.value = this.value" name="file">Duyệt
                                        </span>
                                        <input name="YTE_ANH_PHU_3" type="text" value="@Model.YTE_ANH_PHU_3" placeholder="Include some files" readonly="">
                                    </div>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Ảnh phụ 4</label>
                                </section>
                                <section class="col col-10">
                                    <div class="input input-file">
                                        <span class="button">
                                            <input id="fileAnhPhu4" type="file" onchange="this.parentNode.nextElementSibling.value = this.value" name="file">Duyệt
                                        </span>
                                        <input name="YTE_ANH_PHU_4" type="text" value="@Model.YTE_ANH_PHU_4" placeholder="Include some files" readonly="">
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                    <!-- end widget body text-->

                    <!-- widget footer -->
                                                    <div class="widget-footer text-right">

                                                        <label class="input">
                                                            <input type="submit" value="Thêm" id="ChiTietSanPhamSubmit" style="display: none;" />
                                                        </label>

                                                    </div>
                    <!-- end widget footer -->
                                                    }
            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->

</div>
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {
        $('.summernote').summernote({
            height: 400,
            focus: false,
            tabsize: 2
        });
        $('[name="YTE_SO_TA"]').code($('[name="YTE_SO_TA"]').code());
        $('[name="YTE_TINH_NANG"]').code($('[name="YTE_TINH_NANG"]').code());
        $('[name="YTE_THONG_SO"]').code($('[name="YTE_THONG_SO"]').code());
    });
</script>
