﻿@model List<SmartShop.DAL.vwProduct>

@{
    foreach (var item in Model)
    {
        var trangthai = item.Available == 1 ? "Hiệu lực" : "Không hiệu lực";
    <tr>
        <td>@item.ProductCode</td>
        <td>@item.ProductName</td>
        <td>@item.GroupName</td>
        <td>@trangthai</td>
        <td>
            <a href="javascript:void(0);" onclick="createProcess('@item.ProductID');">
                <i class="fa fa-lg fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="javascript:void(0);" onclick="deleteProcess('@item.ProductID');">
                <i class="fa fa-lg fa-trash-o"></i>
            </a>
        </td>
    </tr>
    }
    @Html.Partial("NavigatePaging")
}