﻿@charset "utf-8";
.brandslider ul {
	position:absolute;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}

.brandslider .mask {
	position:relative;
	overflow:hidden;
	border:none;
}
.brandslider ul li {
	float:left;
	width:86px;
	height:40px;
	text-align:center;
	margin:0;
	padding:0px 2px 0px 2px;
}
.brandslider ul li a {
	float:left;
	margin:0px;
	padding:0px;
}
.brandslider ul li img {
	float:left;
	border:none;
}
.brandslider .pagination-links {
	list-style:none;
	margin:0;
	padding:0;
}
.brandslider .pagination-links li {
	display:inline;
}
.brandslider .pagination-links li a {
	padding:0px;
}
.brandslider .pagination-links li a:hover {
	text-decoration:none;
}
.brandslider .pagination-links li.current a {
	background:#444;
	color:#fff;
}
.brandslider .disabled {
	color:gray;
	cursor:default;
}
.brandwrp {
	width:1000px;
	float:left;	
}
.brandcontent {
	width:996px;
	height:48px;
	padding:0px 2px 0px 2px;
	float:left;
	background-color:#83857A;
	overflow:hidden;
}
.brandpre, .brandnext {
	width:40px;
	height:48px;
	float:left;
	padding:0px 2px 0px 2px;
}
.brandpre a {
	width:40px;
	height:48px;
	float:left;
	background-image:url(../images/brand_pre.jpg);
	background-repeat:no-repeat;
}
.brandpre a:hover {
	width:40px;
	height:48px;
	float:left;
	background-image:url(../images/brand_prehv.jpg);
	background-repeat:no-repeat;
}
.brandnext a {
	width:40px;
	height:48px;
	float:left;
	background-image:url(../images/brand_next.jpg);
	background-repeat:no-repeat;
}
.brandnext a:hover {
	width:40px;
	height:48px;
	float:left;
	background-image:url(../images/brand_nexthv.jpg);
	background-repeat:no-repeat;
}
.branditemwrpwrp {
	width:900px;
	height:40px;
	padding:4px;
	float:left;
}
