@charset "utf-8";
 .web_dialog_overlay
        {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #000000;
            opacity: .75;
            filter: alpha(opacity=75);
            -moz-opacity: .75;
            z-index: 101;
            display: none;
        }
        .web_dialog
        {
            display: none;
            position: fixed;
            width: 600px;
            height: 620px;
            top: 50%;
            left: 50%;
            margin-left: -300px;
            margin-top: -310px;
            background-color: #ffffff;
            border: 3px solid #84857B;
            padding: 0px;
            z-index: 102;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			box-shadow: 0px 0px 20px #000; 
        	-moz-box-shadow: 0px 0px 20px #000; 
        	-webkit-box-shadow: 0px 0px 20px #000;
        }
		.webdialogct{
			width:600px;
			float:left;
		}
		.webdialogtt{
			width:600px;
			height:20px;
			line-height:20px;
			float:left;
			overflow:hidden;
			background-color:#B2B2B2;
		}
		.webdialogttleft{
			width:490px;
			height:20px;
			float:left;
			text-align:left;
			padding-left:10px;
		}
		.webdialogttleft span{
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#003B4F;
		}
		.webdialogttright{
			width:100px;
			float:left;
			text-align:right;
		}
		.webdialogttright a{
			height:20px;
			line-height:20px;
			padding:0px 5px 0px 13px;
			background-image:url(../images/closebtn.png);
			background-repeat:no-repeat;
			background-position:0px 4px;
			text-decoration:none;
			color:#0000FF;
		}
		.webdialogttright a:hover{
			color:#B21E02;
			background-image:url(../images/closebtnhv.png);
		}
		.webdialogimgxoay{
			width:600px;
			height:600px;
			float:left;
			overflow:hidden;
		}


