﻿.web_dialog_overlay
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .15;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: none;
}

.web_dialog
{
    margin: auto;
    display: none;
    position: fixed;
    width: 600px;
    height: 230px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border: 2px solid #336699;
    padding: 0px;
    z-index: 102;
    font-family: 'Futura Book';
    font-size: 10pt;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.zoom_dialog
{
    margin: auto;
    display: none;
    position: fixed;
    width: 890px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 2px solid #336699;
    padding: 0px;
    z-index: 102;
    font-family: 'Futura Book';
    font-size: 10pt;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.web_dialog_title
{
    border-bottom: solid 2px #336699;
    background-color: #336699;
    padding: 4px;
    color: White;
    font-weight: bold;
}

    .web_dialog_title a
    {
        color: White;
        text-decoration: none;
    }

.contentPopup
{
    min-height: 90px;
    padding: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.contentImgPopup
{
    background-color: #fff;
    height: 440px;
}

.align_right
{
    text-align: right;
}

.product-view-giftplus {
    background: none repeat scroll 0 0 #F0E987;
    margin-left: -17px;
    padding: 7px;
    width: 358px;
}
.product-view-giftplus .product-view-promo {
    border: 1px dashed #3B718D;
    color: #211F20;
    padding: 10px;
}
.product-view-giftplus .promo-title {
    background: url("../../../imgs/icon/gift.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #ED1F29;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 1px;
    text-transform: uppercase;
}
.product-view-giftplus ul {
    margin-top: 5px;
}

.camket {
    clear: both;
    float: left;
    margin-left:3px;
    padding: 10px;
    width: 95%;
    border: 1px solid #CACACA;
    color: #010101;
    height: 100px;
    text-transform: uppercase;
}
.camket p {
    font-size: 1.5em;
    line-height: 1em;
}
.camket p#vat {
    color: #202020;
    font-size: 1.05em;
    text-transform: none;
}
.camket ul {
    clear: both;
    color: #202020;
    width: 100%;
}
.camket ul li {
    float: left;
    padding-left: 50px;
    width:150px;
    min-height:50px;
}
.camket ul li#tratien {
    background: url("http://shopdien.vn/Portal/imgs/header/tra-gop.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.camket ul li#giaohang {
    background: url("http://shopdien.vn/Portal/imgs/header/van-chuyen-mien-phi.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    margin-left: 50px;
}
.camket ul li#doitra {
    background: url("http://shopdien.vn/Portal/imgs/header/hang-chinh-hang.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    margin-left: 50px;
}
