﻿@using SmartShop.UI
@model CatGroupProductModel

@{
    ViewBag.Title = "Tìm kiếm sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row no-margin margin-top-20 search-result-box">
        <h1>Tìm đc <strong>xxx</strong> sản phẩm cho từ khóa: <strong>'ổ điện'</strong></h1>
        <div class="search-result margin-bottom-30">
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
            <div class="search-item">
                <div class="pi-img-wrapper">
                    <a href="/Sanpham?id=98">
                        <img src="/Media/Products/98/May-do-huyet-ap-bap-tay-Omron-hem-7080.jpg" class="img-responsive" title="Máy đo huyết áp bắp Omron HEM-7080" alt="Máy đo huyết áp bắp Omron HEM-7080">
                    </a>
                </div>
                <a href="/Sanpham?id=98" title="Máy đo huyết áp bắp Omron HEM-7080">Máy đo huyết áp bắp Omron HEM-7080</a>
                <!---Gift content-->
                <div class="gift-img">&nbsp;</div>
                <div class="pi-price">2,600,000</div>
            </div>
        </div>
    </div>
    <div class="clearfix border-bottom-orange"></div>
    <div class="row margin-top-20 margin-bottom-40">
        <div class="col-md-12 col-sm-12">
            @Html.Partial("_ProviderHomePage")
        </div>
    </div>
</div>