﻿@using SmartShop.DAL
@model HT_THONG_TIN

<div id="insert-content">
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
        <!-- widget div-->
        <div role="content">
            <!-- widget content -->
            <div class="widget-body no-padding">
                @using (Ajax.BeginForm("Save", "ThongTinChung", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "SaveSuccess" }, new { @class = "smart-form" }))
                {
                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Nhóm</label>
                            </section>
                            <section class="col col-4">
                                @Html.TextBox("ID", @Model.ID, new { @style = "display: none;" })
                                <label class="input">
                                    @Html.TextBox("GroupInfo", @Model.GroupInfo, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                            <section class="col col-4">
                                @Html.CheckBox("Available", @Model.Available)
                                <i></i>Trạng thái
                                @*<label class="checkbox">
                                        <input type="checkbox" name="checkbox-inline" checked="checked">
                                    </label>*@
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Thông tin</label>
                            </section>
                            <section class="col col-8">
                                <label class="input">
                                    @Html.TextBox("Info", @Model.Info, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Mô tả</label>
                            </section>
                            <section class="col col-8">
                                <label class="input">
                                    @Html.TextBox("Des", @Model.Des, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Giá trị</label>
                            </section>
                            <section class="col col-8">
                                <label class="input">
                                    @Html.TextBox("Value", @Model.Value, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Ảnh</label>
                            </section>
                            <section class="col col-8">
                                <div class="input input-file">
                                    <span class="button">
                                        <input type="file" id="fileAnhChinh" name="file" onchange="this.parentNode.nextSibling.value = this.value">Duyệt
                                    </span>
                                    <input name="Img" type="text" value="@Model.Value" placeholder="Include some files" readonly="">
                                </div>
                            </section>
                        </div>
                        <label class="input">
                            <input type="submit" value="Thêm" id="ThongTinChungSubmit" style="display: none;" />
                        </label>
                    </fieldset>
                }

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
</div>
