﻿@using SmartShop.DAL
@using SmartShop.Utilities
@model List<HT_THONG_TIN>

@{
    foreach (var item in Model)
    {
        string path = null;
        string check = null;
        if (item.GroupInfo.Equals("LOGO") || item.GroupInfo.Equals("SLIDE"))
        {
            path = HeThong.duongdan_anhPhysical(0, item.Value);
        }
        if (item.Available == 1)
        {
            check = "checked='checked'";
        }
        <tr>
            <td>@item.ID</td>
            <td>@item.GroupInfo</td>
            <td>@item.Info</td>
            <td>@item.Des</td>
            <td>@item.Value</td>
            <td style="text-align:center;">
                <label class="checkbox">
                    <input type="checkbox" name="checkbox-inline" @check>
                </label>
            </td>
            <td>
                @if (!path.IsNullOrEmpty())
                {
                    <img src="@path" width="60" height="60" alt="@item.Info">
                }
            </td>
            <td>
                <a href="javascript:void(0);" onclick="createProcess('@item.ID');">
                    <i class="fa fa-lg fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="javascript:void(0);" onclick="deleteProcess('@item.ID');">
                    <i class="fa fa-lg fa-trash-o"></i>
                </a>
            </td>
        </tr>
    }
}