﻿@using System.Data
@using SmartShop.UI
@using SmartShop.Utilities
@model DataSet

<div class="indexblockbodyleftwrp">
    <div class="indexblockbodylefthd">
        <div class="indexblockbodylefthdleft">
            &nbsp;
        </div>
        <div class="indexblockbodylefthdcenter">
            <span>Bán Nhiều Nhất</span>
        </div>
        <div class="indexblockbodylefthdright">
            &nbsp;
        </div>
    </div>
    @if (Model != null && Model.Tables.Count > 0)
    {
        DataTable dt = Model.Tables[0];
        foreach (DataRow r in dt.Rows)
        {
            var gr = ProductGroupSvr.GetByID(Convert.ToInt32(r["NHOM"]));
            var cat = ProductGroupSvr.GetAllItem().Where(e => e.CategoryID == null);
            string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
            var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"];

            <div class="indexbbdleftitemwrp">
                <div class="indexbbdleftitemcontent">
                    <div class="indexbbdleftitemleft">
                        <div class="indexbbdleftitemleftctv2">
                            <div class="indexbbdleftitemleftimgwrp">
                                <a href="#">
                                    <img src="@path" alt="@r["TEN"].ToString()" border="0" />
                                </a>
                            </div>
                            <div class="noteevent" style="display:none;">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="indexbbdleftitemright">
                        <div class="indexbbdleftitemrightcode">
                            <span>
                                <a href="@href">@r["MA"].ToString()</a>
                            </span>
                        </div>
                        <div class="indexbbdleftitemrightdes">
                            <span>
                                @r["TEN"].ToString()
                            </span>
                        </div>
                        <div class="indexbbdleftitemrightprice">
                            <span>
                                @String.Format("{0:0,0;(0:0,0);Liên hệ}", decimal.Parse(r["YTE_GIA_BAN"].ToString()))
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
