﻿@using System.Data
@using SmartShop.UI
@using SmartShop.Utilities
@using SmartShop.DAL
@model ProductGroup

@{
    int totalRecord = 0;
    DataSet ds = ProductSvr.GetSanPhamTheoDieuKien(null, Model.ProductGroupID.ToString(), null, null, 4, 1, ref totalRecord);
}

<div id="dvleftblcathd" class="leftcolumblockhd">
    <span>Bán Nhiều Nhất</span>
</div>
<div id="dvleftblct" class="leftcolumblockct">
    <div id="dvsubcat" class="leftsubcatwrp">
        @if (ds != null && ds.Tables.Count > 0)
        {
            DataTable dt = ds.Tables[0];
            foreach (DataRow r in dt.Rows)
            {
                var gr = ProductGroupSvr.GetByID(Convert.ToInt32(r["NHOM"]));
                var cat = ProductGroupSvr.GetAllItem().Where(e => e.CategoryID == null);
                string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"];
                <div id="dvsubcatitem" class="leftsubproitemwrp">
                    <div id="dvsubprimg" class="leftsubproimgwrpv2">
                        <div id="dvsubprimgct" class="leftsubproimgcontent">
                            <a href="@href">
                                <img src="@path" border="0" alt="@r["TEN"].ToString()" />
                            </a>
                        </div>
                    </div>

                    <div class="leftsubproinfowrp">
                        <div class="leftsubprocode">
                            <a id="ctl08_rptBannhieu_ctl01_HyperLink2" href="@href">@r["MA"].ToString()</a>
                        </div>
                        <div class="leftsubproname">
                            <span>
                                @r["TEN"].ToString()
                            </span>
                        </div>
                        <div id="dvlsprprice" class="leftsubproprice">
                            <span>
                                @String.Format("{0:0,0;(0:0,0);Liên hệ}", decimal.Parse(r["YTE_GIA_BAN"].ToString())) VNĐ
                            </span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
