﻿@using SmartShop.UI
@using System.Data
@using SmartShop.DAL
@using SmartShop.Utilities

@{
decimal giaBan = 0;
        decimal dChietKhau = 0;
        string chietkhau = "";
        int totalRecord = 0;
        DataSet ds = ProductDAL.GetSanPhamTheoDieuKien(null, "", "YTE_CHIET_KHAU", "GIAM", 10, 1, ref totalRecord);
}
@if (ds != null && ds.Tables.Count > 0)
        {
            Category cat = new Category();
            ProductGroup gr = new ProductGroup();
            DataTable dt = ds.Tables[0];
<ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 3262px;" id="mycarouse2" class="jcarousel-list jcarousel-list-horizontal">
    @foreach (DataRow r in dt.Rows)
            {
                giaBan = decimal.Parse(r["YTE_GIA_BAN"].ToString());
                dChietKhau = 0;
                gr = ProductGroupDAL.GetByID(Convert.ToInt32(r["NHOM"]));
                cat = CategoryDAL.GetByID(gr.CategoryID.Value);
                string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                                    var href = AppEnv.ApplicationPath + "/" + cat.NoSymbolName + "/" + gr.NoSymbolName + "/" + Util.converToUnsign(r["TEN"].ToString()) + ".html";
        <li jcarouselindex="@(dt.Rows.IndexOf(r) + 1)" style="float: left; list-style: none outside none;" class="item jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal">
            @if (r["YTE_CHIET_KHAU"] != null && !r["YTE_CHIET_KHAU"].ToString().Equals("") && decimal.Parse(r["YTE_CHIET_KHAU"].ToString()) > 0)
                {
                    dChietKhau = decimal.Parse(r["YTE_CHIET_KHAU"].ToString());
                    chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                <div class="starPromotion">
                    <span>- @chietkhau %</span>
                </div>
                }
            <a href="@href" title="@r["TEN"].ToString()"
                            class="product-image">
                <img src="@path" width="150" height="150" alt="@r["TEN"].ToString()"></a>
            <h2 class="product-name">
                <a href="@href" title="@r["TEN"].ToString()">@r["TEN"].ToString()</a></h2>
            <!---Gift content-->
            <div class="gift-img">&nbsp;</div>
            @if (dChietKhau > 0)
                {
                <!--##GIÁ ĐẶC BIỆT##-->
                <div class="price-box">
                    <p class="special-price">
                        <span class="price-label">Giá KM:</span> <span class="price">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan - dChietKhau)</span>
                    </p>
                    <p class="save-cost">
                        <span>Giảm: @String.Format("{0:0,0;(0:0,0);Liên hệ}", dChietKhau)</span>
                    </p>
                    <p class="old-price">
                        <span class="price-label">Giá NY:</span> <span class="price">Giá NY: @String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan)</span>
                    </p>
                </div>
                <!--Nếu giá đặc biệt quá hạn-->
                <!--##GIÁ ĐẶC BIỆT##-->
                }
                else
                {
                <div class="price-box">
                    <span class="regular-price"><span class="price">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan)</span> </span>
                </div>
                }
        </li>

            }
</ul>
}