﻿@using SmartShop.UI
@using System.Data
@using SmartShop.DAL
@using SmartShop.Utilities
@{
    decimal giaBan = 0;
    decimal dChietKhau = 0;
    string chietkhau = "";
    var root = ProductGroupSvr.GetRootItem();
    int totalRecord = 0;
}
@foreach (var iroot in root)
{
    var lstGroup = ProductGroupSvr.GetByParrent(iroot.ProductGroupID);
    if (lstGroup.Count() > 0)
    {
        var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + iroot.ProductGroupID;
        DataSet mDs = ProductSvr.GetSanPhamTheoDieuKien(null, iroot.ProductGroupID.ToString(), null, null, 4, 1, ref totalRecord);
        if (mDs != null && mDs.Tables.Count > 0 && mDs.Tables[0].Rows.Count > 0)
        {
            <div class="giuacontent">
                <div class="indexblockwrp">
                    <div class="indexblockcontent">
                        <div id="dvrblhd" class="rightproblheader">
                            <div id="rprhdleft" class="rightproblheadertt">
                                <span id="ctl08_spTypeTT">
                                    <a href="@url">@iroot.GroupName</a>
                                </span>
                            </div>
                            <div id="dvxemnhanh" class="xemnhanhwrp">
                                <div id="drlist">
                                    <ul>
                                        <li class="drlist-sub">
                                            <span>&nbsp;</span>
                                            <ul>
                                                @foreach (var item in lstGroup)
                                                {
                                                    var subUrl = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + item.ProductGroupID;
                                                    string idNhom = item.ProductGroupID.ToString();
                                                    <li>
                                                        <a href="@subUrl">@item.GroupName</a>
                                                    </li>
                                                }

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @*<div class="indexblockheaderwrp">
                                <div class="indexblockcatname">
                                    <span>
                                        <a href="@url">@iroot.GroupName</a>
                                    </span>
                                </div>

                                <div class="indexblocksubcatwrp">
                                    <div class="indexblocksubcatcontent">

                                        @foreach (var item in lstGroup)
                                        {
                                            var subUrl = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + item.ProductGroupID;
                                            string idNhom = item.ProductGroupID.ToString();

                                            <div class="indexblocksubcatitem">
                                                <a href="@subUrl">@item.GroupName</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>*@
                        <div class="indexblockbodywrp">
                            @Html.Partial("_BestBuyInGroupHome", mDs)

                            <div class="indexblockbodycenterwrp2">
                                <div class="indexblbdcthd2">
                                    <div class="indexblbdcthdleft">
                                        &nbsp;
                                    </div>
                                    <div class="indexblbdcthdcenter2">
                                        <span>Sản Phẩm Thông Dụng</span>
                                    </div>
                                    <div class="indexblbdcthdright">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="indexblbdctprdwrp2">

                                    @foreach (var item in lstGroup)
                                    {
                                        string idNhom = item.ProductGroupID.ToString();
                                        DataSet ds = ProductSvr.GetSanPhamTheoDieuKien(null, idNhom, null, null, 8, 1, ref totalRecord);
                                        if (ds != null && ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0)
                                        {
                                            DataTable dt = ds.Tables[0];
                                            var showgroup = iroot.CategoryID + "dvNhom" + item.ProductGroupID.ToString();
                                            if (lstGroup.ToList().IndexOf(item) == 0)
                                            {

                                                foreach (DataRow r in dt.Rows)
                                                {
                                                    giaBan = decimal.Parse(r["YTE_GIA_BAN"].ToString());
                                                    dChietKhau = 0;
                                                    string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                                                    var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"];
                                                    if (r["YTE_CHIET_KHAU"] != null && !r["YTE_CHIET_KHAU"].ToString().Equals("") && decimal.Parse(r["YTE_CHIET_KHAU"].ToString()) > 0)
                                                    {
                                                        dChietKhau = decimal.Parse(r["YTE_CHIET_KHAU"].ToString());
                                                        chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                                                    }

                                                    <div class="productitemwrp2">
                                                        <div class="productitemct">
                                                            <div class="productitemimgwrp">
                                                                <div class="productitemimgcontent">
                                                                    <a href="@href">
                                                                        <img src="@path" border="0" />
                                                                    </a>
                                                                </div>
                                                                <div class="noteevent">
                                                                    <span>New</span>
                                                                </div>
                                                            </div>
                                                            <div class="productitemcode">
                                                                <span>
                                                                    <a href="@href">@r["MA"].ToString()</a>
                                                                </span>
                                                            </div>
                                                            <div class="productitemdeskm">
                                                                <div class="productitemdes">
                                                                    <span>
                                                                        @r["TEN"].ToString()
                                                                    </span>
                                                                </div>
                                                                <div class="productitemkm">
                                                                    <span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="productitemprice">
                                                                <span>
                                                                    @(String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan))
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="indexblockadvbnwrp" style="display:none;">
                        <div class="indexblockadvct">
                        </div>
                    </div>
                    <div class="space10px" style="display:block;">
                        &nbsp;
                    </div>
                </div>
            </div>
        }
    }
}