﻿<div id="dv_leftprwr" class="mainproductleftwrp">
    <div id="dvleftclct" class="mainproductleftct">
        <div id="dvleftblcat" class="leftcolumblockwrp">
            @Html.Partial("_MenuLeft")
        </div>
        <div id="dvsp240" class="space240">
            &nbsp;
        </div>
        <div id="dvleftblcat" class="leftcolumblockwrp">
            @Html.Partial("_BestBuyGroup")
        </div>
        <div id="dvspdprs" class="space240">
            &nbsp;
        </div>
        <div id="ctl08_dv_blockKm" class="leftcolumblockwrp" style="display:none;">
            <div id="dvleftblcathd" class="leftcolumblockhd">
                <span>Tin Khuyến Mãi</span>
            </div>
            <div id="dvleftblct" class="leftcolumblockkmct">
                <div id="ctl08_dv_bannerQc" class="leftsubkmwrp">
                </div>
            </div>
        </div>
    </div>
</div>
