﻿@using SmartShop.UI
@using SmartShop.Utilities

@*<div class="header">

    </div>*@

<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <div class="middle-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3">
                        <div class="logo">
                            <a href="/" title="Logo Hệ thống Siêu Thị ShopDien" class="logo"><img src="@AppEnv.ApplicationPath/Content/imgs/header/logo.png" alt=" Logo Hệ thống Siêu Thị ShopDien"></a>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <ul class="slogan">
                            <li>
                                <a href="#">
                                    <img src="@AppEnv.ApplicationPath/Content/imgs/header/hang-chinh-hang.png" alt="Đảm bảo hàng chính hãng" title="Đảm bảo hàng chính hãng" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="@AppEnv.ApplicationPath/Content/imgs/header/van-chuyen-mien-phi.png" alt="Miễn phí vận chuyển nội thành" title="Miễn phí vận chuyển nội thành" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="@AppEnv.ApplicationPath/Content/imgs/header/tra-gop.png" alt="Thanh toán khi nhận hành" title="Thanh toán khi nhận hàng" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <ul class="social">
                            <li>
                                <a href="https://plus.google.com" rel="publisher">
                                    <img src="@AppEnv.ApplicationPath/Content/imgs/header/gplus.png" alt="Google+ - ShopDien" title="Google+ - ShopDien" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com">
                                    <img src="@AppEnv.ApplicationPath/Content/imgs/header/face.png" alt="Facebook Page - ShopDien" title="Facebook Page - ShopDien" />
                                </a>
                            </li>
                            <li>
                                <a href="http://www.youtube.com">
                                    <img src="@AppEnv.ApplicationPath/Content/imgs/header/youtube.png" alt="Kênh Video Youtube - ShopDien" title="Kênh Video Youtube - ShopDien" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header END -->