﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="dv_2" class="trenwrp">
    <div id="neotopmenu"></div>
    <div id="dvtopnav" class="topnavwrp">
        @Html.Partial("_MainMenu")
    </div>
    <div id="ctl11_dvMbnwrp" class="mainbannerwrp" style="display:none;">
        <div id="ctl11_dvMainbanner" class="mainbncontent"></div>
    </div>
</div>

<div id="dvspace" class="space10px">
    &nbsp;
</div>

<div id="dv_3" class="giuawrp">
    @RenderBody()
</div>