﻿<!DOCTYPE html>
<html>
<head>
    <link media="all" href="@Url.Content("~/Content/stylesheet/counter013.css")" type="text/css" rel="stylesheet" />
    <link media="all" href="@Url.Content("~/Content/stylesheet/widget118.css")" type="text/css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="trang chủ, thiết bị điện" />
    <meta name="description" content="ShopDien - Mua sắm trực tuyến: thiết bị điện ..." />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-lang" content="vi" />
    <meta name="copyright" content="Bản quyền thuộc về ShopDien" />
    <meta name="author" content="http://www.letruong.somee.com;Email:lequangtruong542@gmail.com" />
    <meta name="owner" content="http://shopdien.vn" />
    <meta name="revisit-after" content="1 day" />
    <meta name="document-rating" content="General" />
    <meta name="document-distribution" content="Global" />
    <meta name="placename" content="vietnam" />
    <meta name="resource-type" content="Document" />
    <meta name="rating" content="All" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="google-site-verification" content="_NqyOCaCIWfwSSDvNUa4eUxYVHicQBUBKxNcrv0V6V0" />
    <meta name="Search Engines" content="www.altaVista.com, www.aol.com, www.infoseek.com, www.excite.com, www.hotbot.com, www.lycos.com, www.magellan.com, www.looksmart.com, www.cnet.com, www.voila.com, www.google.fr, www.google.com, www.google.com.vn, www.yahoo.fr, www.yahoo.com, www.alltheweb.com, www.msn.com, www.netscape.com, www.nomade.com" />
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/images/ico.png")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles/clientStyles.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles/brandstyles.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles/galleria.classic.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles/xoay360.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugin/bootstrap-summernote/summernote.css")" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/libs/jquery-ui-1.10.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jqueryBrands.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/galleria-1.2.8.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/galleria.classic.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.idTabs.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/j360.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/printThis.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/hideDiv.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function ClientDoSearchProduct() {
            var obj = new Object();
            obj.keyword = $("#txtKeyword").val();
            obj.pageSize = $("#hdPageSize").val();
            obj.currentPage = $("#hdCurrentPage").val();
            //$.getJSON("/Trangchu/ClientDoSearchProduct", obj, function (data) {
            //    $("#mainbody").text(data);
            //});
            $("#dv_3").load("/Trangchu/ClientDoSearchProduct", obj);
        }
        function addToCart(productId) {
            var data = {};
            data.productId = productId;
            data.imgUrl = $("#productMainImage").val();
            data.price = $("#productPrice").val();
            data.quantity = $('#productQuantity').val();
            $.ajax('@Url.Action("AddToCart", "GioHang")', {
                data: data,
                type: "POST",
                success: function (result) {
                    if (result.Success) {
                        alert(result.Message);
                    }
                    $("#shoppingCart").load("/Trangchu/ShoppingCart");
                },
                error: function () {

                }
            });
        }

        function removeFromCart(productId) {
            var data = {};
            data.productId = productId;
            $.ajax('@Url.Action("RemoveFromCart", "GioHang")', {
                data: data,
                type: "POST",
                success: function (result) {
                    if (result.Success) {
                        alert(result.Message);
                    }
                    $("#shoppingCart").load("/Trangchu/ShoppingCart");
                },
                error: function () {

                }
            });
        }

        function codinhmenu() {
            var window_top = $(window).scrollTop();
            var div_top = $('#neotopmenu').offset().top;
            if (window_top > div_top) {
                $('#menuTop').addClass('cdtop');
                $('#neotopmenu').height($('#menuTop').outerHeight());
            } else {
                $('#menuTop').removeClass('cdtop');
                $('#neotopmenu').height(0);
            }
        }

        $(function () {
            $(window).scroll(codinhmenu);
            codinhmenu();
        });

    </script>
</head>
<body>
    <div id="mwrp" class="mainwrp">
        <div id="dv_1" class="topwrp">
            <div class="topwrpleft">
                <div id="Div11" class="toplink">
                    <div id="dvtoplinkct" class="toplinkcontent">
                        <a href="/" target="_self">Trang chủ</a>
                    </div>

                    <div id="dvtoplinksp" class="toplinkspace">
                        &nbsp;
                    </div>
                    <div id="dvtoplinkct" class="toplinkcontent">
                        <a href="@(Html.Raw(Url.Action("Index", "TinTuc")) + "?catId=1")" target="_self">Giới thiệu</a>
                    </div>

                    <div id="dvtoplinksp" class="toplinkspace">
                        &nbsp;
                    </div>
                    <div id="dvtoplinkct" class="toplinkcontent">
                        <a href="@(Html.Raw(Url.Action("Index", "TinTuc")) + "?catId=2")" target="_self">Tài liệu</a>
                    </div>

                    <div id="dvtoplinksp" class="toplinkspace">
                        &nbsp;
                    </div>
                    <div id="dvtoplinkct" class="toplinkcontent">
                        <a href="@(Html.Raw(Url.Action("Index", "TinTuc")) + "?catId=5")" target="_self">Tin tức</a>
                    </div>

                    <div id="dvtoplinksp" class="toplinkspace">
                        &nbsp;
                    </div>
                    <div id="dvtoplinkct" class="toplinkcontent">
                        <a href="#" target="_self">Liên hệ</a>
                    </div>

                    <div id="Div12" class="toplinklast">
                        &nbsp;
                    </div>
                </div>
                <div class="logosupport">
                    <div id="Div18" class="logowrp">
                        <a id="ctl10_lktohome" href="/">
                            <img id="ctl10_imgLogo" title="" src="@Url.Content("~/Content/images/logo1.png")" border="0" />
                        </a>
                    </div>
                    <div id="ctl10_dvNewSP" class="topbannerwrp">
                        <div class="spitwrp">
                            <div class="phonespleft">&nbsp;</div>
                            <div class="spright">
                                <span style="width:180px; float:left; height:20px; line-height:20px;">&nbsp;</span>
                                <span style="width:180px; float:left; height:20px; color:#003B4F; line-height:20px; font-weight:bold;">0914338419  - 0983398596</span>
                                <span style="width:180px; float:left; height:20px; color:#84857B; line-height:20px;">Thứ 2-6 : 8-17H; Thứ 7 : 8-12H</span>
                                <span style="width:180px; float:left; height:20px; line-height:20px;">&nbsp;</span>
                            </div>
                        </div>
                        <div class="spitwrp">
                            <div class="emailspleft">&nbsp;</div>
                            <div class="spright">
                                <span style="width:180px; float:left; height:20px; line-height:20px;">&nbsp;</span>
                                <span style="width:180px; float:left; height:20px; color:#003B4F; line-height:20px; font-weight:bold;">vietmy.contact@gmail.com</span>
                                <span style="width:180px; float:left; height:20px; color:#84857B; line-height:20px;">Trả lời 30' trong giờ h&agrave;nh ch&iacute;nh</span>
                                <span style="width:180px; float:left; height:20px; line-height:20px;">&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ctl10_dvLoginwrp" class="topwrpright" style="display:block;">
                <div class="toplinklog">
                    <div>
                        <a id="ctl10_lkregnewtv" title="" class="toplinkreg" href="#">Đăng ký</a>
                    </div>
                    <div id="Div1" class="toplinkfirst">&nbsp;</div>
                    <div class="logthongbao">
                        <span id="ctl10_spThongbao"></span>
                    </div>
                </div>
                <div class="loginwrp">
                    <div id="ctl10_pnlg">

                        <div class="loginrow">
                            <div class="loginrowlgwrp">
                                <div class="loginrowlb">
                                    <label for="txtEmailLG">Email</label>
                                </div>
                                <div class="logtxtwrp">
                                    <input name="ctl10$txtEmailLG" type="text" id="txtEmailLG" title="" class="loginrowtxt" />

                                </div>
                            </div>
                        </div>
                        <div class="loginrow">
                            <div class="loginrowlgwrp">
                                <div class="loginrowlb">
                                    <label for="txtPassLG">Mật khẩu</label>
                                </div>
                                <div class="logtxtwrp">
                                    <input name="ctl10$txtPassLG" type="password" id="txtPassLG" title="" class="loginrowtxt" />
                                </div>

                            </div>
                        </div>
                        <div class="loginrow">
                            <div class="logbtnwrp">
                                <div class="logbtnleft">&nbsp;</div>
                                <div class="logbtncenter">
                                    <a id="ctl10_lkLogin" href="#">Đăng Nhập</a>
                                </div>
                                <div class="logbtnright">&nbsp;</div>
                            </div>
                            <div class="quenpasswrp">
                                <a id="ctl10_lktoRegister" href="#">Quên mật khẩu?</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="ctl10_dvLogedWrp" class="topwrpright" style="display:none;">
                <div class="toplinklog">
                    <div>
                        <a id="ctl10_lkthoat" class="toplinkreg" href="#">Thoát</a>
                    </div>
                    <div id="dvtoplinksp" class="toplinkfirst">&nbsp;</div>
                </div>
                <div class="loginwrp">
                    <div class="loginrow">
                        <div class="logrowspam">
                            <span id="ctl10_spXinchao" class="xinchao"></span>
                        </div>
                    </div>
                    <div class="loginrow">
                        <div class="logrowspam">
                            <a id="ctl10_lktouser" href="#">Quản lý tài khoản</a>
                        </div>
                    </div>
                    <div id="ctl10_Div13" class="loginrow">
                        <div id="ctl10_dvTaomoidtWrp" class="logrowspam">
                            <a id="ctl10_lktaodtmoi" href="#">Tạo dự toán đơn hàng mới</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="dvbodywrp" class="bodywrp">

            <div id="dvbodycontent" class="bodycontent">

                <div id="dvspace1" class="space10px">
                    &nbsp;
                </div>


                @RenderBody()

                <div id="dv_4" class="brandwrp">
                    @Html.Partial("_Provider")
                    <div id="dvsp" class="space10px">
                        &nbsp;
                    </div>
                </div>

                @*<div id="dv_5" class="newswrp">
                        <div id="dvnewsct" class="newscontent">
                            <!--bl-->
                            <div class="newsblwrp">
                                <div class="newsblctn">
                                    <div class="newsblhd">
                                        <a id="ctl13_HyperLink3" href="#">Hướng dẫn - Câu hỏi thường gặp</a>
                                    </div>
                                    <div class="newsblbdct">
                                        <a href="#">Chính sách giao hàng toàn quốc</a>
                                        <a href="#">Chính sách giao hàng toàn quốc</a>
                                        <a href="#">Chính sách giao hàng toàn quốc</a>
                                        <a href="#">Chính sách giao hàng toàn quốc</a>
                                        <a href="#">Chính sách giao hàng toàn quốc</a>
                                    </div>
                                </div>
                            </div>
                            <!--end bl-->
                            <div class="newsblwrp2px">&nbsp;</div>
                            <!--bl-->
                            <div class="newsblwrp">
                                <div class="newsblctn">
                                    <div class="newsblhd">
                                        <a id="ctl13_HyperLink1" href="#">Hàng thanh lý</a>
                                    </div>
                                    <div class="newsblbdct">
                                        <a href="#">Cần bán lô hàng</a>
                                        <a href="#">Cần bán lô hàng</a>
                                        <a href="#">Cần bán lô hàng</a>
                                        <a href="#">Cần bán lô hàng</a>
                                        <a href="#">Cần bán lô hàng</a>
                                    </div>
                                </div>
                            </div>
                            <!--end bl-->
                            <div class="newsblwrp2px">&nbsp;</div>
                            <!--bl-->
                            <div class="newsblwrp">
                                <div class="htlblockbodyct">
                                    <p>
                                        <img src="~/Uploads/images/FreeAdv.jpg" width="332" height="194" alt="" />
                                    </p>
                                </div>
                            </div>
                            <!--end bl-->
                        </div>
                    </div>*@

                <div id="dv_6" class="footerwrp">
                    <div id="dvftct" class="footercontent">
                        <div id="dvftnav" class="footernav">
                            <span>
                                <a href="#">Giới thiệu</a>
                            </span>
                            <span>
                                <a href="#">Tài liệu</a>
                            </span>
                            <span>
                                <a href="#">Tin tức</a>
                            </span>
                            <span>
                                <a href="#">Liên hệ</a>
                            </span>
                        </div>
                        <div class="footerproductnav">
                            @{
                                var group = SmartShop.UI.ProductGroupSvr.GetRootItem();
                                foreach (var root in group)
                                {
                                    var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + root.ProductGroupID;
                                    <span>
                                        <a href="@url">@root.GroupName</a>
                                    </span>
                                }
                            }
                        </div>
                        <div class="footerinfo">
                            <table>
                                <tr>
                                    <td width="40%">
                                        <a href="#" target="_blank">
                                            <img src="~/Uploads/images/bocongthuong.png" width="220" height="68" alt="" />
                                        </a>
                                    </td>
                                    <td width="60%">
                                        <h2>Thông tin liên hệ</h2>
                                        <address class="margin-bottom-40">
                                            Trụ sở chính: Số 9A/29, Phố Dịch Vọng, Phường Dịch Vọng, Quận Cầu Giấy, TP Hà Nội<br>
                                            VPGD:&nbsp;Số 56/381, Nguyễn Khang, Phường Yên Hòa, Quận Cầu Giấy, TP Hà Nội<br>
                                            Phone: (+84) 24-66860610&nbsp;<br>
                                            Fax: (+84) 24.6282 0228<br>
                                            Email: <a href="vietmy.contact@gmail.com">vietmy.contact@gmail.com</a>
                                            <br>
                                        </address>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                Galleria.loadTheme('/Scripts/galleria.classic.min.js');
                Galleria.run('#galleria');
                $('#brandsliderwrp').brandslider({
                    itemsPerPage: 10,
                    itemsPerTransition: 10,
                    pagination: false,
                    nextPrevLinks: true,
                    speed: 500

                });
                hideDiv();
                $(window).resize(function () {
                    hideDiv();
                });
                $("#prdttabwrp ul").idTabs();
                $("#xoay360btn").click(function (e) {
                    ShowDialog(false);
                    e.preventDefault();
                });
                $("#btnClose").click(function (e) {
                    HideDialog();
                    e.preventDefault();
                });
                jQuery('#product').j360();
            });
        })(jQuery);
    </script>
</body>
</html>
