﻿@using SmartShop.UI

@{
    var group = ProductGroupSvr.GetRootItem();
}

<div id="menuholderStyle">
    <div id="topnav">
        <ul>
            <li class="has-sub">
                <a href="#"><span>Danh Mục Sản Phẩm</span></a>
                <ul>
                    @foreach (var root in group)
                    {
                        <li class="has-sub">
                            @{
                                var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + root.ProductGroupID;
                            }
                            <a href="@url">@root.GroupName</a>
                            @{
                                var childOne = ProductGroupSvr.GetByParrent(root.ProductGroupID);
                                if (childOne.Any())
                                {
                                    <ul>
                                        @foreach (var sub in childOne)
                                        {
                                            var subUrl = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + sub.ProductGroupID;
                                            <li class="has-sub">
                                                <a href="@subUrl">
                                                    <span>@sub.GroupName</span>
                                                </a>
                                                @{
                                                    var childTwo = ProductGroupSvr.GetByParrent(sub.ProductGroupID);
                                                    if (childTwo.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var sSub in childTwo)
                                                            {
                                                                var sSubUrl = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + sSub.ProductGroupID;
                                                                <li>
                                                                    <a href="@sSubUrl"><span>@sSub.GroupName</span></a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                }
                                            </li>
                                                    }
                                    </ul>
                                                    }
                            }
                        </li>
                                                    }
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="searchboxwrp">
    <div id="ctl11_panels">

        <div class="searchboxtxtwrp">
            <input type="hidden" id="hdPageSize" value="100" />
            <input type="hidden" id="hdCurrentPage" value="1" />
            <input name="txtKeyword" id="txtKeyword" placeholder="Tìm kiếm..." type="text" value="" class="searchboxtxt" />
        </div>
        <div class="searchboxbtnwrp">
            <a href="javascript:ClientDoSearchProduct();">Tìm</a>
        </div>

    </div>
</div>

<div class="shopcartwrp">
    <a id="ctl11_lktodtdt" disabled="disabled">0 Sản phẩm</a>
</div>
<!--end shopcart-->
<script type="text/javascript">
    $(function () {
        $('#txtKeyword').keypress(function (e) {
            if (e.which == 13) {
                //var obj = new Object();
                //obj.Category = $("#cmbGroupCategory").val();
                //obj.Keyword = $("#txtKeyword").val();
                //document.location = url;
                ClientDoSearchProduct();
            }
        });
    });
    //<![CDATA[
</script>
