﻿@using SmartShop.UI
@using SmartShop.Utilities
@model SmartShop.DAL.ProductGroup

@{
    var group = ProductGroupSvr.GetByParrent(Model.ProductGroupID);
    var parentUrl = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + Model.ProductGroupID;
    var groupName = Model.GroupName;
    if (!group.Any())
    {
        group = ProductGroupSvr.GetByParrent(Model.GroupParrentID.Value);
        parentUrl = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + Model.GroupParrentID;
        groupName = ProductGroupSvr.getParrent(Model.ProductGroupID).GroupName;
    }

}

<div id="dvleftblcathd" class="leftcolumblockhd">
    <span id="ctl08_spCatTitle">@groupName</span>
</div>
<div id="dvleftblct" class="leftcolumblockct">
    <div id="dvsubcat" class="leftsubcatwrp">
        @if (group.Any())
        {
            foreach (var item in group)
            {
                var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + item.ProductGroupID;
                <div id="dvsubcatitem" class="leftsubcatitem">
                    <a href="@url">@item.GroupName</a>
                </div>
            }
        }
    </div>
</div>
