﻿@using SmartShop.UI
@using System.Data
@using SmartShop.DAL
@using SmartShop.Utilities
@{
    decimal giaBan = 0;
    decimal dChietKhau = 0;
    string chietkhau = "";
    var root = ProductGroupSvr.GetRootItem();
    int totalRecord = 0;
}
@foreach (var iroot in root)
{
    var lstGroup = ProductGroupSvr.GetByParrent(iroot.ProductGroupID);
    if (lstGroup.Count() > 0)
    {
        var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + iroot.ProductGroupID;
        <div class="cate-item">
            <div class="row" style="margin:0;">
                <div class="col-md-3 no-padding-left">
                    <div class="title"><a href="@url">@iroot.GroupName</a></div>
                    @Html.Partial("_BestBuyGroup", iroot)
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 header-group">
                            <div class="cattab header-navigation">
                                <ul>
                                    @foreach (var item in lstGroup)
                                    {
                                        var subUrl = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + item.ProductGroupID;
                                        string idNhom = item.ProductGroupID.ToString();

                                        <li class='dropdown'>
                                            <a href="@subUrl">@item.GroupName</a>
                                        </li>
                                        <li class='dropdown' style="padding: 2px;">|</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        @foreach (var item in lstGroup)
                        {
                            string idNhom = item.ProductGroupID.ToString();
                            DataSet ds = ProductSvr.GetSanPhamTheoDieuKien(null, idNhom, null, null, 10, 1, ref totalRecord);
                            if (ds != null && ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0)
                            {
                                DataTable dt = ds.Tables[0];
                                var showgroup = iroot.CategoryID + "dvNhom" + item.ProductGroupID.ToString();
                                if (lstGroup.ToList().IndexOf(item) == 0)
                                {
                                    <div id='@showgroup' class='col-md-12 col-sm-12 owl-carousel owl-carousel5'>

                                        @foreach (DataRow r in dt.Rows)
                                {
                                            <div>
                                                @{
                                                    giaBan = decimal.Parse(r["YTE_GIA_BAN"].ToString());
                                                    dChietKhau = 0;
                                                    string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                                                    var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"]; //AppEnv.ApplicationPath + "/" + iroot.NoSymbolName + "/" + item.NoSymbolName + "/" + Util.converToUnsign(r["TEN"].ToString()) + ".html";
                                                }
                                                <div class="product-item">
                                                    @if (r["YTE_CHIET_KHAU"] != null && !r["YTE_CHIET_KHAU"].ToString().Equals("") && decimal.Parse(r["YTE_CHIET_KHAU"].ToString()) > 0)
                                                    {
                                                        dChietKhau = decimal.Parse(r["YTE_CHIET_KHAU"].ToString());
                                                        chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                                                        <div class="starPromotion">
                                                            <span>- @chietkhau %</span>
                                                        </div>
                                                    }
                                                    <div class="pi-img-wrapper">
                                                        <a href="@href">
                                                            <img src="@path" class="img-responsive" title="@r["TEN"].ToString()" alt="@r["TEN"].ToString()">
                                                        </a>
                                                    </div>
                                                    <a href="@href" title="@r["TEN"].ToString()">@r["TEN"].ToString()</a>
                                                    <!---Gift content-->
                                                    <div class="gift-img">&nbsp;</div>
                                                    @if (dChietKhau > 0)
                                                    {
                                        <!--##GIÁ ĐẶC BIỆT##-->
                                                        <div class="pi-price">
                                                            <p class="special-price">
                                                                <span class="price-label">Giá KM:</span> <span class="price">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan - dChietKhau)</span>
                                                            </p>
                                                            <p class="save-cost">
                                                                <span>Giảm: @String.Format("{0:0,0;(0:0,0);Liên hệ}", dChietKhau)</span>
                                                            </p>
                                                            <p class="old-price">
                                                                <span class="price-label"></span><span class="price">Giá NY: @String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan)</span>
                                                            </p>
                                                        </div>
                                        <!--Nếu giá đặc biệt quá hạn-->
                                        <!--##GIÁ ĐẶC BIỆT##-->
                                                    }
                                                    else
                                                    {
                                                        <div class="pi-price">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan)</div>
                                                    }
                                                </div>
                                            </div>
                                                    }
                                    </div>
                                                            }
                                                        }
                                                    }
                    </div>
                </div>
            </div>
        </div>
                                                        }
                                                    }
