﻿@using SmartShop.UI
@using SmartShop.Utilities
@{
    var lstProvider = ProviderSvr.GetAllItem();
}


<div id="dvbrdct" class="brandcontent">
    <div id="dvbrprebt" class="brandpre">
    </div>
    <div id="dvbranditemwrp" class="branditemwrpwrp">
        <div id="brandsliderwrp" class="brandslider">
            <div class="mask" style="height: 40px;">
                <ul style="width: 1170px;">
                    @foreach (var r in lstProvider)
                    {
                        var scr = HeThong.duongdan_anhSP(0, r.Logo.Replace("~", ""));
                        <li>
                            <a title="@r.ProviderName" href="javascript:void(0)" target="_self">
                                <img src="@scr" border="0" alt="@r.ProviderName" title="@r.ProviderName"  style="border-width:0px;"/>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="dvbrnextbt" class="brandnext">
    </div>
</div>
