﻿@using SmartShop.Utilities

<div id="neotopmenu" style="height: 0px;"></div>
<div class="menutop" id="menuTop">
    <div class="menutop-content">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-3 no-padding-left">
                        @Html.Partial("_Categories")
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div id="searchDiv">
                            <input type="hidden" id="hdPageSize" value="10"/>
                            <input type="hidden" id="hdCurrentPage" value="1"/>
                            <input class="searchinput_textbox" name="txtKeyword" id="txtKeyword"
                                   onfocus="if (this.value == 'Nhập tên sản phẩm ...') this.value = '';"
                                   onblur="if (this.value == '') this.value = 'Nhập tên sản phẩm ...';"
                                   value="Nhập tên sản phẩm ..." type="text"
                                   style="border-radius: 0; height: 31px; width: 89%; margin-bottom: 0; float: left"/>
                            <a href="javascript:ClientDoSearchProduct();">
                                <img class="cssImageSubmit" title="Tìm kiếm" src="@AppEnv.ApplicationPath/Content/imgs/icon/icon_search.png"
                                     border="0">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 no-padding-right" id="shoppingCart">
                        <p>Hotline: 0934561145</p>
                        @Html.Partial("_ShoppingCart")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#txtKeyword').keypress(function (e) {
            if (e.which == 13) {
                //var obj = new Object();
                //obj.Category = $("#cmbGroupCategory").val();
                //obj.Keyword = $("#txtKeyword").val();
                //document.location = url;
                ClientDoSearchProduct();
            }
        });
    });
    //<![CDATA[
    $("#GroupCategoryId").selectbox().bind('change', function () {
        $($(this).val()).fadeOut(5000, function () {
            $(this).remove();
        });
    });
    //]]>
</script>