﻿@using System.Data
@using SmartShop.Utilities
@model SmartShop.UI.Models.SearchResultModel
@{
    var x = Model;
    DataSet ds = Model.ProductList;
    decimal giaBan = 0;
    decimal dChietKhau = 0;
    string chietkhau = "";
}

<div id="prddtwrp" class="productdetailswrp">
    <div id="dvprdthd" class="prdetailshd">
        <span >Tìm được <strong>@Model.TotalRecord</strong> sản phẩm cho từ khóa: <strong>'@Model.Keyword'</strong></span>
    </div>
    <div id="updateSearch">

        <div id="dvspt" class="sanphamrelate">
            <div id="dvspct" class="sanphamrelatect">
                @{
                    if (ds != null && ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0)
                    {
                        DataTable dt = ds.Tables[0];
                        foreach (DataRow r in dt.Rows)
                        {
                            giaBan = decimal.Parse(r["YTE_GIA_BAN"].ToString());
                            dChietKhau = 0;
                            string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                            var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"];
                            if (r["YTE_CHIET_KHAU"] != null && !r["YTE_CHIET_KHAU"].ToString().Equals("") && decimal.Parse(r["YTE_CHIET_KHAU"].ToString()) > 0)
                            {
                                dChietKhau = decimal.Parse(r["YTE_CHIET_KHAU"].ToString());
                                chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                            }
                            <div id="dvbblitem" class="indexbbdleftitemwrp3">
                                <div id="dvbblitemct" class="indexbbdleftitemcontent3">
                                    <div id="dvbblitemleft" class="indexbbdleftitemleft">
                                        <div id="dvbblitemleftct" class="indexbbdleftitemleftctv2">
                                            <div id="dvbitemlimgw" class="indexbbdleftitemleftimgwrp">
                                                <a href="@href">
                                                <img src="@path" style="border-width:0px;" title="@r["TEN"].ToString()" alt="@r["TEN"].ToString()">
                                                </a>
                                            </div>
                                            <div class="noteevent" style="display:none;">
                                                <span id="ctl08_lvSearchResult_ctrl0_spNoteS"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="indexbbdleftitemright2">
                                        <div class="indexbbdleftitemrightcode2">
                                            <span>
                                                <a href="@href">@r["MA"].ToString()</a>
                                            </span>
                                        </div>
                                        <div class="indexbbdleftitemrightdes2">
                                            <span>
                                                @r["TEN"].ToString()
                                            </span>
                                        </div>
                                        <div class="indexbbdleftitemrightprice2">
                                            <span>
                                                @giaBan VNĐ
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="space978px">&nbsp; </div>
            @*<div id="dvreadmore" class="sanphamrelatect">
                <span id="ctl08_DataPager1" class="NavegationBar">
                <input type="image" name="ctl08$DataPager1$ctl00$ctl00" disabled="disabled" src="../images/first.jpg" alt="First" style="border-width:0px;">
                <input type="image" name="ctl08$DataPager1$ctl00$ctl01" disabled="disabled" src="../images/pre.jpg" alt="Previous" style="border-width:0px;">
                <span>1</span>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl01','')">2</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl02','')">3</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl03','')">4</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl04','')">5</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl05','')">6</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl06','')">7</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl07','')">8</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl08','')">9</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl09','')">10</a>
                <a href="javascript:__doPostBack('ctl08$DataPager1$ctl01$ctl10','')">...</a>
                <input type="image" name="ctl08$DataPager1$ctl02$ctl00" src="../images/next.jpg" alt="Next" style="border-width:0px;">
                <input type="image" name="ctl08$DataPager1$ctl02$ctl01" src="../images/last.jpg" alt="Last" style="border-width:0px;">
                </span>
            </div>*@
        </div>

    </div>
</div>
