﻿@using System.Data
@using SmartShop.UI
@using SmartShop.UI.Models
@using SmartShop.Utilities
@{
    var list = (List<GioHangModel>)HttpContext.Current.Session["ShoppingCart"];
}
<div class="top-cart-block">
    @if (list != null && list.Any())
    {
        <div class="top-cart-info">
            <a href="javascript:void(0);" class="top-cart-info-count">@list.Count sản phẩm</a>
            <span class="top-cart-info-value" id="topCartTotalValue">@String.Format("{0:0,0;(0:0,0);Liên hệ}", list.Sum(x => x.Price))</span>
        </div>
    }
    else
    {
        <div class="top-cart-info">
            <a href="javascript:void(0);" class="top-cart-info-count">0 sản phẩm</a>
        </div>
    }
    <i class="fa fa-shopping-cart"></i>

    <div class="top-cart-content-wrapper">
        <div class="top-cart-content">
            <ul class="scroller" style="height: 250px;">
                @{
                    if (list != null && list.Any())
                    {
                        foreach (var cart in list)
                        {
                            var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + cart.ProductId;
                            <li>
                               <a href="@href"><img src="@cart.ImageUrl" alt="@cart.ProductName" width="37" height="34"></a>
                                <span class="cart-content-count">x @cart.Quantity</span>
                                <strong><a href="@href">@cart.ProductName</a></strong>
                                <em>@String.Format("{0:0,0;(0:0,0);Liên hệ}", cart.Price)</em>
                                <a href="javascript:void(0);" onclick="removeFromCart('@cart.ProductId')" class="del-goods">&nbsp;</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            Không có sản phẩm nào trong giỏ hàng!
                        </li>
                    }

                }
            </ul>
            <div class="text-right">
                <a href="@Html.Raw(Url.Action("Index", "GioHang"))" class="btn btn-primary">Checkout</a>
            </div>
        </div>
    </div>
</div>