﻿@using SmartShop.UI
@using SmartShop.Utilities

@{
    var pType = WebInfoSvr.GetAllItem();
}

<div class="row">
    <div class="col-md-4 col-sm-4 pre-footer-col">
        <h2>Hỗ trợ khách hàng</h2>
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="#" onclick="javascript:window.location.href = &#39;@AppEnv.ApplicationPath/contact/&#39; return false;">
                    <span>CSKH</span>: @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.CSKH.id)).Value
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="#" onclick="javascript:window.location.href = &#39;@AppEnv.ApplicationPath/contact/&#39;return false;">
                    <span>KD ONLINE</span>: @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.KINH_DOANH.id)).Value
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a class="text" href="skype:@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO1.id)).Value?chat" title="">Hỗ trợ 1<i class="fa fa-skype"></i></a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a class="text" href="skype:@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO2.id)).Value?chat" title="">Hỗ trợ 2<i class="fa fa-skype"></i></a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a class="text" href="skype:@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO3.id)).Value?chat" title="">Hỗ trợ 3<i class="fa fa-skype"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-md-4 col-sm-4 pre-footer-col">
        <h2 class="margin-bottom-0">Hướng dẫn thanh toán</h2>
        <ul class="list-unstyled">
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
        </ul>
    </div>
    <!-- END TWITTER BLOCK -->
    <!-- BEGIN BOTTOM CONTACTS -->
    <div class="col-md-4 col-sm-4 pre-footer-col">
        <h2>Thông tin liên hệ</h2>
        <address class="margin-bottom-40">
            @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.DIA_CHI.id)).Value<br>
            @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.VPGD.id)).Value<br>
            Phone: @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.DIEN_THOAI.id)).Value<br>            
            Fax: @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.FAX.id)).Value<br>
            Email: <a href="@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.EMAIL.id)).Value">@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.EMAIL.id)).Value</a>
            <br>
        </address>
    </div>
    <!-- END BOTTOM CONTACTS -->
</div>