﻿@using SmartShop.Utilities
@*<div class="top-links">
    <ul class="left-toplinks">
        <li><a href="@AppEnv.ApplicationPath/Trangchu">Trang chủ</a></li>
        <li><a href="@AppEnv.ApplicationPath/Artical">Tin tức</a></li>
        <li><a href="@AppEnv.ApplicationPath/Contact">Liên hệ</a></li>
        <li><a style="color: #105caa;" href="/catalog/seo_sitemap/category/">Sitemap</a></li>
    </ul>
    <ul class="right-toplinks">
        <li class="login"><a rel="nofollow" href="@AppEnv.ApplicationPath/Administrator/Login.aspx" title="Đăng nhập">Đăng nhập</a></li>
        <li class="cart"><a rel="nofollow" href="@AppEnv.ApplicationPath/Registry.aspx" title="Giỏ hàng">Đăng ký</a></li>
    </ul>
    <a class="hotline" target="_blank" href="/livechat/chat.php">
        <img src="@AppEnv.ApplicationPath/Content/imgs/header/hotline.png" alt="Hotline - Hỗ trợ online" /></a>
</div>*@


<div class="pre-header">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="@AppEnv.ApplicationPath/Artical">Tin tức</a></li>
                    <li><a href="@AppEnv.ApplicationPath/Contact">Liên hệ</a></li>
                    <li><a href="@AppEnv.ApplicationPath/Contact">Sitemap</a></li>
                </ul>
            </div>
            <!-- END TOP BAR LEFT PART -->
            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    <li class="login"><a rel="nofollow" href="@AppEnv.ApplicationPath/Administrator/Login.aspx" title="Đăng nhập">Đăng nhập</a></li>
                    <li class="cart"><a rel="nofollow" href="@AppEnv.ApplicationPath/Registry.aspx" title="Giỏ hàng">Đăng ký</a></li>
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>
</div>