﻿@using SmartShop.UI

@{
    var pType = WebInfoSvr.GetAllItem();
}

<div class="contact-right-fixed no-padding-left">
    <div id="title-contact" class="title">
        <p>Liên hệ </p>
        <p><i class="fa fa-comments"></i></p>
    </div>
    <div class="clearfix">
        <div class="content-contact" style="display:none;">
            <div class="item">
                CSKH:
                @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.CSKH.id)).Value
                <a href="skype:@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO1.id)).Value?chat"><i class="fa fa-skype"></i></a>
            </div>
            <div class="item">                
                KD ONLINE:
                @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.KINH_DOANH.id)).Value
                <a href="skype:@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO2.id)).Value?chat"><i class="fa fa-skype"></i></a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#title-contact').on('click', function (event) {
            $('.content-contact').toggle('show');
        });
    });
</script>