﻿@using SmartShop.DAL
@using SmartShop.UI
@using SmartShop.Utilities
@model Artical
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    List<ArticalCategory> catAll = ArticalCatSvr.GetAllItem();
    ArticalCategory cat = catAll.FirstOrDefault(e => e.ArticalCatID == Model.ArticalCatID);
    List<ArticalCategory> catOther = catAll.Where(e => e.ArticalCatID != Model.ArticalCatID).ToList();
    List<Artical> dataSame = ArticalSvr.GetSameCat(Model.ArticalCatID);
}

<div id="dv_3" class="giuawrp">
    <div id="dvquicknav" class="quicknavwrp">
        <a id="ctl08_lktohome" href="#">Trang Chủ</a>
        <span class="quicknext">&nbsp;</span> <span id="ctl08_spCatTitleNav">@cat.ArticalCatName</span>
    </div>
    <div id="undsp" class="space10px">
        &nbsp;
    </div>
    <div id="dvmainprwrp" class="mainproductwrp">
        <div class="mainproductleftwrp">
            <div class="mainproductleftct">
                @foreach (ArticalCategory item in catOther)
                {
                    List<Artical> data = ArticalSvr.GetSameCat(item.ArticalCatID);
                    if (!data.IsNullOrEmpty() && data.Count > 0)
                    {
                        data = data.Skip(0).Take(5).ToList();
                <div class="leftcolumblockwrp">
                    <div class="leftcolumblockhd">
                        <span>@item.ArticalCatName</span>
                    </div>
                    <div class="leftcolumblockct2">
                        <div class="leftsubcatwrp">
                            @foreach (Artical artical in data)
                                    {
                                        var url = Html.Raw(Url.Action("Index", "BaiViet")) + "?id=" + artical.ArticalID;
                                        string path = HeThong.duongdan_anhSP(artical.ArticalID, artical.MasterImage);

                                    <div class="leftsubproitemwrp">
                                        <div class="leftsubproimgwrp">
                                            <div class="leftsubproimgcontent">
                                                <a href="@url"><img src="@path" border="0" /></a>
                                            </div>
                                        </div>
                                        <div class="leftsubproinfowrp">
                                            <div class="leftsubnewsdate">
                                                @if (!artical.PublishDate.IsNullOrEmpty())
                                                    {
                                                    <span>
                                                        @artical.PublishDate.Value.DateToString("dd/MM/yyyy")
                                                    </span>
                                                    }
                                            </div>
                                            <div class="leftsubnewstieude">
                                                <span>
                                                    <a href="@url">@artical.Title</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    }
                        </div>
                    </div>
                    <div class="newsreadmorebtn">
                        <div class="newsreadmorebtnct">
                            <div class="rightblreadmorect">
                                <a href="@(Html.Raw(Url.Action("Index", "TinTuc")) + "?catId=" + item.ArticalCatID)">Xem tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
                    }
                }
                <div class="space240"></div>
            </div>
        </div>

        <div class="mainproductrightwrp">
            <div class="mainproductrightct">
                <div class="rightnewsblock">
                    <div class="newsdetailstd">
                        <div class="newsdetailstdcontent">
                            <div class="newsdtcthdright">
                                <a href="">@cat.ArticalCatName</a>
                            </div>
                            <span class="spannewstieude">@Model.Title</span>
                        </div>
                    </div>
                    <textarea class="summernote" name="ArticalContent" style="display:none;">@Model.ArticalContent</textarea>
                    <div class="newstindadang">
                        <div class="newstindadangct">
                            <div class="newstindadanghead">
                                <a href="#"> @cat.ArticalCatName Khác</a>
                            </div>
                            <div class="newstindadangbd">
                                @if (!dataSame.IsNullOrEmpty() && dataSame.Count > 0)
                                {
                                    dataSame = dataSame.Skip(0).Take(5).ToList();
                                    foreach (Artical artical in dataSame)
                                    {
                                        var url = Html.Raw(Url.Action("Index", "BaiViet")) + "?id=" + artical.ArticalID;
                                        <a href="@url">@artical.Title</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/plugin/bootstrap-summernote/summernote.js")"></script>
<script src="@Url.Content("~/Content/plugin/bootstrap-summernote/summernote.min.js")"></script>

<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {
        /*
		* SUMMERNOTE EDITOR
		*/

        $('.summernote').summernote({
            toolbar: []
        });
        $('[name="ArticalContent"]').code($('[name="ArticalContent"]').code());
    });
</script>