﻿@model List<SmartShop.DAL.Artical_DTO>

@{
    foreach (var item in Model)
    {
        var trangthai = item.Active == true ? "Hiệu lực" : "Không hiệu lực";
    <tr>
        <td>@item.Title</td>
        <td>@item.ArticalCatName</td>
        <td>@item.Summery</td>
        <td>@trangthai</td>
        <td>
            <a href="javascript:void(0);" onclick="createProcess('@item.ArticalID');">
                <i class="fa fa-lg fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="javascript:void(0);" onclick="deleteProcess('@item.ArticalID');">
                <i class="fa fa-lg fa-trash-o"></i>
            </a>
        </td>
    </tr>
    }
}