﻿@using SmartShop.Admin
@model SmartShop.DAL.Artical
@{
    var lstNhomTin = ArticalCatSvr.GetAllItem();
}
<div id="insert-content">
    <div class="jarviswidget" id="wid-id-11" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
        <header>
            <ul id="widget-tab-1" class="nav nav-tabs pull-right">
                <li class="active">
                    <a data-toggle="tab" href="#hr1"><i class="fa fa-lg fa-arrow-circle-o-down"></i><span class="hidden-mobile hidden-tablet">Thông tin chung</span></a>
                </li>
                <li>
                    <a data-toggle="tab" href="#hr2"><i class="fa fa-lg fa-arrow-circle-o-up"></i><span class="hidden-mobile hidden-tablet">Nội dung</span></a>
                </li>
            </ul>
        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">
                @using (Ajax.BeginForm("Save", "ChiTietSanPham", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "SaveSuccess" }, new { @class = "smart-form" }))
                {

                    <!-- widget body text-->

                    <div class="tab-content padding-10">
                        <div class="tab-pane fade in active" id="hr1">

                            <fieldset>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">Nhóm bài viết</label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="select">
                                            <select name="ArticalCatID">
                                                @{
                                                    foreach (var item in lstNhomTin)
                                                    {
                                                        if (item.ArticalCatID == Model.ArticalCatID)
                                                        {
                                                            <option value="@item.ArticalCatID" selected="selected">@item.ArticalCatName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.ArticalCatID">@item.ArticalCatName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">Tiêu đề</label>
                                    </section>
                                    <section class="col col-4">
                                        @Html.TextBox("ArticalID", @Model.ArticalID, new { @style = "display: none;" })
                                        <label class="input">
                                            @Html.TextBox("Title", @Model.Title, new { @style = "width:100%; font-size:12px;" })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">Ảnh chính</label>
                                    </section>
                                    <section class="col col-10">
                                        <div class="input input-file">
                                            <span class="button">
                                                <input type="file" id="fileAnhChinh" name="file" onchange="this.parentNode.nextElementSibling.value = this.value">Duyệt
                                            </span>
                                            <input name="MasterImage" type="text" value="@Model.MasterImage" placeholder="Include some files" readonly="">
                                        </div>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">Ảnh phụ</label>
                                    </section>
                                    <section class="col col-10">
                                        <div class="input input-file">
                                            <span class="button">
                                                <input type="file" id="fileAnhPhu" name="file" onchange="this.parentNode.nextElementSibling.value = this.value">Duyệt
                                            </span>
                                            <input name="ResizeImage" type="text" value="@Model.ResizeImage" placeholder="Include some files" readonly="">
                                        </div>
                                    </section>
                                </div>
                            </fieldset>

                        </div>
                        <div class="tab-pane fade" id="hr2">
                            @Html.TextAreaFor(model => model.ArticalContent, new { @class = "summernote" })
                        </div>
                    </div>

                    <!-- end widget body text-->

                    <!-- widget footer -->
                                                    <div class="widget-footer text-right">

                                                        <label class="input">
                                                            <input type="submit" value="Thêm" id="ChiTietTinSubmit" style="display: none;" />
                                                        </label>

                                                    </div>
                    <!-- end widget footer -->
                                                    }
            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->

</div>
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {
        /*
		* SUMMERNOTE EDITOR
		*/

        $('.summernote').summernote({
            height: 180,
            focus: false,
            tabsize: 2
        });
        $('[name="ArticalContent"]').code($('[name="ArticalContent"]').code());
    });
</script>
