﻿@using SmartShop.Utilities
@model List<SmartShop.DAL.Artical>

@{
    ViewBag.Title = "Danh sách bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var date = LDateTime.GetCurrentDate().DateToString("yyyyMMdd");
}
<link href="@Url.Content("~/Content/plugin/bootstrap-summernote/summernote.css")" rel="stylesheet" />
<script type="text/javascript">

    function createProcess(id) {
        var obj = new Object();
        if (typeof id != "undefined")
            obj.id = id;
        else
            obj.id = 0;
        $.getJSON("/TinTuc/GetDetail", obj, function (data) {
            var target = $("#dialog-insert");
            target.empty();
            target.append(data);
            target.attr("title", "Thông tin bài viết");
            $(".ui-dialog-title").html('Thông tin bài viết');
            DialogYesNoConfirm($("#dialog-insert"), 1000, "Lưu", "Hủy", function () {
                var d = new Date();
                var formData = new FormData();
                var totalFiles = document.getElementById("fileAnhChinh").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("fileAnhChinh").files[i];
                    $('[name="MasterImage"]').val('/Media/News/' + @date + '/' + file.name);
                    formData.append("FileUpload", file);
                }
                totalFiles = document.getElementById("fileAnhPhu").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("fileAnhPhu").files[i];
                    $('[name="ResizeImage"]').val('/Media/News/' + @date + '/' + file.name);
                    formData.append("FileUpload", file);
                }
                $.ajax({
                    type: "POST",
                    url: '/TinTuc/Upload',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                    },
                    error: function (error) {
                    }
                });
                var obj = new Object();
                obj.ArticalCatID = $('[name="ArticalCatID"]').val();
                obj.ArticalID = $('[name="ArticalID"]').val();
                obj.Title = $('[name="Title"]').val();
                obj.MasterImage = $('[name="MasterImage"]').val();
                obj.ResizeImage = $('[name="ResizeImage"]').val();
                obj.ArticalContent = $('[name="ArticalContent"]').code();

                if (obj.ArticalCatID == null || obj.ArticalCatID == "") {
                    $('[name="ArticalCatID"]').focus();
                    $('[name="ArticalCatID"]').select();
                    alert('Chưa chọn danh mục.');
                    return;
                }
                else {
                    $.ajax({
                        url: "/TinTuc/Save",
                        async: false,
                        type: "POST",
                        data: JSON.stringify(obj),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            SaveSuccess(data);
                        }
                    });
                }
            });
        });
    }

    function reloadProcess() {
        $("#tableBody").load("/TinTuc/GetData");
    }

    function SaveSuccess(data) {
        alert('Lưu dữ liệu thành công.');
        $("#tableBody").load("/TinTuc/GetData");
    }

    function deleteProcess(id) {
        if (id != "") {
            if (confirm('Bạn có chắc muốn xóa không ?')) {
                var obj = { id: id };
                $.getJSON("/TinTuc/Delete", obj, function (data) {
                    $("#tableBody").load("/TinTuc/GetData");
                });
            }
        }
    }
</script>

@Html.Partial("_ActionBar", null)

<div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-table"></i></span>
                <h2>Danh sách bài viết</h2>

            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">
                    </div>
                    <table id="datatable_tabletools" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Danh mục</th>
                                <th>Tóm tắt</th>
                                <th>Trạng thái</th>
                                <th>Sửa</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @Html.Action("GetData")
                        </tbody>
                    </table>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->

    </article>
    <!-- WIDGET END -->
</div>
<div>
</div>
<div id="dialog-insert" style="display: none;">
    @Html.Partial("GetDetail", new SmartShop.DAL.Artical())
</div>


<!-- PAGE RELATED PLUGIN(S) -->
<script src="@Url.Content("~/Scripts/js/plugin/datatables/jquery.dataTables-cust.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/plugin/datatables/ColReorder.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/plugin/datatables/FixedColumns.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/plugin/datatables/ColVis.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/plugin/datatables/ZeroClipboard.js")"></script>
<script src="@Url.Content("~/Scripts/js/plugin/datatables/media/js/TableTools.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/plugin/datatables/DT_bootstrap.js")"></script>
<script src="@Url.Content("~/Content/plugin/bootstrap-summernote/summernote.js")"></script>
<script src="@Url.Content("~/Content/plugin/bootstrap-summernote/summernote.min.js")"></script>


<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        pageSetUp();

        /*
         * BASIC
         */
        $('#dt_basic').dataTable({
            "sPaginationType": "bootstrap_full"
        });

        /* END BASIC */

        /* Add the events etc before DataTables hides a column */
        $("#datatable_fixed_column thead input").keyup(function () {
            oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
        });

        $("#datatable_fixed_column thead input").each(function (i) {
            this.initVal = this.value;
        });
        $("#datatable_fixed_column thead input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("#datatable_fixed_column thead input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = this.initVal;
            }
        });


        var oTable = $('#datatable_fixed_column').dataTable({
            "sDom": "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
            //"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
            "oLanguage": {
                "sSearch": "Search all columns:"
            },
            "bSortCellsTop": true
        });



        /*
         * COL ORDER
         */
        $('#datatable_col_reorder').dataTable({
            "sPaginationType": "bootstrap",
            "sDom": "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
            "fnInitComplete": function (oSettings, json) {
                $('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
            }
        });

        /* END COL ORDER */

        /* TABLE TOOLS */
        $('#datatable_tabletools').dataTable({
            "sDom": "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
            "oTableTools": {
                "aButtons": ["copy", "print", {
                    "sExtends": "collection",
                    "sButtonText": 'Save <span class="caret" />',
                    "aButtons": ["csv", "xls", "pdf"]
                }],
                "sSwfPath": "@Url.Content("~/Scripts/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf")"
            },
            "fnInitComplete": function (oSettings, json) {
                $(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function () {
                    $(this).addClass('btn-sm btn-default');
                });
            }
        });

        /* END TABLE TOOLS */
    })
</script>
