﻿@using System.Data
@using SmartShop.UI
@using SmartShop.Utilities
@model SmartShop.UI.Models.ThongTinSanPhamModel

@{
    ViewBag.Title = Model.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalRecord = 0;
    decimal giaBan = 0;
    decimal dChietKhau = 0;
    var chietkhau = "";

    var group = ProductGroupSvr.GetByID(Model.ProductGroupID);

    var parentGroup = ProductGroupSvr.GetByID(group.GroupParrentID.Value);

    var groupImg = ProductGroupSvr.GetByParrent(group.GroupParrentID.Value);
    int maxItem = 10;
    var level1 = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + group.ProductGroupID;
    var level2 = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + parentGroup.ProductGroupID;

    var groupTop = groupImg;
    if (!groupImg.Any())
    {
        groupTop = ProductGroupSvr.GetByParrent(group.GroupParrentID.Value);
    }
    var list = groupTop.Take(maxItem).ToList();
}
<div id="dv_2" class="trenwrp">
    <div id="neotopmenu"></div>
    <div id="dvtopnav" class="topnavwrp">
        @Html.Partial("_MainMenu")
    </div>
    <div id="ctl11_dvMbnwrp" class="mainbannerwrp" style="display:none;">
        <div id="ctl11_dvMainbanner" class="mainbncontent"></div>
    </div>

    <div id="ctl11_dvMbnwrp" class="mainbannerwrp">
        <div id="ctl11_dvMainbanner" class="mainbncontent">
            <p>
                @foreach (var item in list)
                {
                    var width = 1000 / list.Count();
                    var src = HeThong.duongdan_anhSP(0, item.Img);
                    var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + item.ProductGroupID;
                    <a href="@url">
                        <img src="@src" width="@width" height="148" alt="@item.GroupName" />
                        @*<p>@item.GroupName</p>*@
                    </a>
                }
            </p>
        </div>

    </div>
</div>

<div id="dvspace" class="space10px">
    &nbsp;
</div>


<div id="dv_3" class="giuawrp">
    <div id="dvquicknav" class="quicknavwrp">
        <a href="/">Trang Chủ</a>
        <span class="quicknext">&nbsp;</span>
        <a href="@level1" @parentGroup.GroupName</a>
        <span class="quicknext">&nbsp;</span>
        <a href="@level2">@group.GroupName</a>
    </div>
    <div id="undsp" class="space10px">
        &nbsp;
    </div>
    <div class="productdetailswrp">
        <div class="prdetailshd">
            <span>@Model.ProductCode</span><span>-</span> <span>@Model.ProductName</span>
        </div>
        <div class="prdetailsct">
            <div class="prdetailsimgwrp">
                <div class="content">
                    <div id="galleria">
                        <a href="@HeThong.duongdan_anhSP(0, Model.ANH_CHINH)"><img alt="@Model.ProductName" src="@HeThong.duongdan_anhSP(0, Model.ANH_CHINH)" style="border-width:0px;"></a>
                        <a href="@HeThong.duongdan_anhSP(0, Model.ANH_PHU_1)"><img alt="@Model.ProductName" src="@HeThong.duongdan_anhSP(0, Model.ANH_PHU_1)" style="border-width:0px;"></a>
                        <a href="@HeThong.duongdan_anhSP(0, Model.ANH_PHU_2)"><img alt="@Model.ProductName" src="@HeThong.duongdan_anhSP(0, Model.ANH_PHU_2)" style="border-width:0px;"></a>
                        <a href="@HeThong.duongdan_anhSP(0, Model.ANH_PHU_3)"><img alt="@Model.ProductName" src="@HeThong.duongdan_anhSP(0, Model.ANH_PHU_3)" style="border-width:0px;"></a>
                        <a href="@HeThong.duongdan_anhSP(0, Model.ANH_PHU_4)"><img alt="@Model.ProductName" src="@HeThong.duongdan_anhSP(0, Model.ANH_PHU_4)" style="border-width:0px;"></a>
                    </div>
                    <div class="xoay360" style="display:none;">
                        <a href="#">Xoay hình 360<sup>o</sup></a>
                    </div>
                </div>
            </div>
            <div class="prdetailsright">
                <!--shop-->
                <div class="prdetailshop">
                    <div class="prdtshoprow">
                        <div class="prdtshoprow1left">
                            <span class="spangiabantt">Giá bán:</span>
                            @if (!Model.CHIET_KHAU.IsNullOrEmpty() && decimal.Parse(Model.CHIET_KHAU) > 0)
                            {
                                dChietKhau = decimal.Parse(Model.CHIET_KHAU);
                                chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                                <span class="spangiabanview">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan - dChietKhau) VNĐ</span>
                            }
                            else
                            {
                                <span class="spangiabanview">@String.Format("{0:0,0;(0:0,0);Liên hệ}", decimal.Parse(Model.GIA_BAN)) VNĐ</span>
                            }
                            <span class="spandvttt">/C&#225;i</span>
                        </div>
                        <div class="prdtshoprow1right">
                            <form name="form1" action="" id="form1">
                                <span class="spansoluongtt">Số lượng</span>
                                <div class="newslwrp">
                                    <div id="ctl08_updateslsp">
                                        <div class="newsltxtwrp">
                                            <input name="ctl08$txtSL" type="text" value="1" id="sluong" class="newprdtshoptxtsl" />
                                        </div>
                                        <div class="newslbtwrp">
                                            <div class="newslbtup"><a class="tangvnk"></a></div>
                                            <div class="newslbtdown"><a class="giamvnk"></a></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="prdtbuybtwrp">
                                    <div class="nprdtbuybtleft">&nbsp;</div>
                                    <div class="prdtbuybtcenter">
                                        <a onclick="addToCart('@Model.ProductID')">Mua hàng</a>
                                    </div>
                                    <div class="nprdtbuybtright">&nbsp;</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="prdtshoprow">
                        <div class="prdtshoprow2left">
                            <span class="spangiatttt">Giá thị trường:</span>
                            <span class="spangiattct">@String.Format("{0:0,0;(0:0,0);Liên hệ}", decimal.Parse(Model.GIA_BAN)) VNĐ</span>
                            <span class="spandvttkm">/C&#225;i</span>
                            @if (!Model.CHIET_KHAU.IsNullOrEmpty() && decimal.Parse(Model.CHIET_KHAU) > 0)
                            {
                                dChietKhau = decimal.Parse(Model.CHIET_KHAU);
                                chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                                <span class="spangiatktt">Tiết kiệm:</span>
                                <span class="spangiatkttvl">@String.Format("{0:0,0;(0:0,0);0}", dChietKhau * 100) / giaBan)%</span>
                            }
                        </div>
                        <div class="prdtshoprow2right">
                            <div class="linkhdmh">
                                <a href="#">Hướng dẫn mua hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prdetailwrp">
                    <div class="prdetailctn">
                        <div class="classtabprdt">
                            <div class="productdtitem">
                                <p>
                                    <strong>@Model.ProductName</strong>
                                </p>
                            </div>
                            <div class="productdtitem">
                                <p>
                                    Xuất xứ: <strong>@Model.XUAT_XU</strong>
                                </p>
                                <p>
                                    Thương hiệu: <strong>@Model.THUONG_HIEU</strong>
                                </p>
                            </div>
                            <div class="productdtitem">
                                @Html.Raw(Model.TINH_NANG)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="web_dialog_overlay">
        </div>
        <div class="web_dialog">
            <div class="webdialogct">
                <div class="webdialogimgxoay">
                    <div style="width: 600px; height: 600px;">

                    </div>
                </div>
                <div class="webdialogtt">
                    <div class="webdialogttleft">
                        <span>Click và rê chuột (trái/phải) để xoay hình!</span>
                    </div>
                    <div class="webdialogttright">
                        <a href="#">Close</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanphamrelate">
            <!--support-->
            <div class="prdtspwrp">
                <div style="width:410px; height:36px;line-height:36px; float:left; background-color:#EFEFEF ; margin-bottom:5px; border-bottom:1px solid #d8d8d8;">
                    <span style="height:36px; float:left; line-height:36px; color:#6B1201; font-weight:bold; padding:0px 5px 0px 5px;">Chát với chúng tôi:</span>
                    <a href="#" target="_blank" class="spskype"></a>
                    <a href="#" target="_blank" class="spzalo"></a>
                    <a href="#" target="_blank" class="spface"></a>
                </div>
            </div>
            <!--end support-->
            <div>
                <div class="fb-comments" data-href="https://www.facebook.com/shopdien.vn" data-colorscheme="light" data-numposts="5" data-width="100%"></div>
            </div>
            <div style="display:none;">

                <div class="overlay">

                    <div class="loader">

                        <img title="" src="@Url.Content("~/Content/images/ajax-loader.gif")" border="0" />

                    </div>

                </div>

            </div>
        </div>
        <div class="sanphamrelate">
            <div class="sanphamrelateheader2">
                <a href="#">@group.GroupName</a>
            </div>
            <div class="sanphamrelatect2">
                @{

                    var ds = ProductSvr.GetSanPhamTheoDieuKien(null, Model.ProductGroupID.ToString(), null, null, 10, 1, ref totalRecord);
                    if (ds != null && ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0)
                    {
                        DataTable dt = ds.Tables[0];
                        var showgroup = Model.ProductID + "dvNhom" + Model.ProductGroupID.ToString();

                        <div id='@showgroup' class='col-md-12 col-sm-12 owl-carousel owl-carousel5 border-bottom-orange other-product'>

                            @foreach (DataRow r in dt.Rows)
                            {
                                giaBan = decimal.Parse(r["YTE_GIA_BAN"].ToString());
                                dChietKhau = 0;
                                string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                                var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"];
                                <div class="indexbbdleftitemwrp3">
                                    <div class="indexbbdleftitemcontent3">
                                        <div class="indexbbdleftitemleft">
                                            <div class="indexbbdleftitemleftctv2">
                                                <div class="indexbbdleftitemleftimgwrp">
                                                    <a href="@href">
                                                        <img src="@path" border="0" title="@r["TEN"].ToString()" alt="@r["TEN"].ToString()" />
                                                    </a>
                                                </div>
                                                <div class="noteevent" style="display:none;">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="indexbbdleftitemright2">
                                            <div class="indexbbdleftitemrightcode2">
                                                <span>
                                                    <a href="@href">@r["MA"].ToString()</a>
                                                </span>
                                            </div>
                                            <div class="indexbbdleftitemrightdes2">
                                                <span>
                                                    @r["TEN"].ToString()
                                                </span>
                                            </div>
                                            @if (r["YTE_CHIET_KHAU"] != null && !r["YTE_CHIET_KHAU"].ToString().Equals("") && decimal.Parse(r["YTE_CHIET_KHAU"].ToString()) > 0)
                                            {
                                                dChietKhau = decimal.Parse(r["YTE_CHIET_KHAU"].ToString());
                                                chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                                                <div class="indexbbdleftitemrightprice2">
                                                    <span>@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan - dChietKhau) VNĐ</span>
                                                </div>
                                                <div class="indexbbdleftitemrightprice2">
                                                    <span style="text-decoration:line-through;">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan) VNĐ</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="indexbbdleftitemrightprice2">
                                                    <span>@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan) VNĐ</span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }

            </div>
        </div>
    </div>
    <div class="space10px">
        &nbsp;
    </div>
    <div class="sanphamcungloaiwrp">
        <div class="sanphamcungloaihd">
            <a href="#">@parentGroup.GroupName</a>
        </div>
        <div class="sanphamcungloaict">

            @{
                var dsp = ProductSvr.GetSanPhamTheoDieuKien(null, group.ProductGroupID.ToString(), null, null, 10, 1, ref totalRecord);
                if (dsp != null && dsp.Tables.Count > 0 && dsp.Tables[0].Rows.Count > 0)
                {
                    var dtp = dsp.Tables[0];
                    var showgroup = Model.ProductID + "dvNhom" + Model.ProductGroupID;
                    foreach (DataRow r in dtp.Rows)
                    {
                        giaBan = decimal.Parse(r["YTE_GIA_BAN"].ToString());
                        dChietKhau = 0;
                        var path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                        var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"];

                        <div class="spcungloaiitemwrp">
                            <div class="spcungloaiitemct">
                                <div class="spcungloaiimgwrpv2">
                                    <div class="spcungloaiimgct">
                                        <a href="@href">
                                            <img src="@path" border="0" title="@r["TEN"].ToString()" alt="@r["TEN"].ToString()" />
                                        </a>
                                    </div>
                                    <div class="noteevent" style="display:none;">
                                        <span></span>
                                    </div>
                                </div>
                                @if (r["YTE_CHIET_KHAU"] != null && !r["YTE_CHIET_KHAU"].ToString().Equals("") && decimal.Parse(r["YTE_CHIET_KHAU"].ToString()) > 0)
                                {
                                    dChietKhau = decimal.Parse(r["YTE_CHIET_KHAU"].ToString());
                                    chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);

                                    <div class="spcungloaiprice">
                                        <span>
                                            @String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan - dChietKhau) VNĐ
                                        </span>
                                    </div>

                                    <div class="spcungloaiprice">
                                        <span>
                                            @String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan) VNĐ
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="spcungloaiprice">
                                        <span>
                                            @String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan) VNĐ
                                        </span>
                                    </div>
                                }
                                <div class="spcungloaicode">
                                    <span>
                                        <a href="@href">@r["MA"].ToString()</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>
    </div>
</div>

<script>
    $(window).load(function () {
        $(".OutComment .fb-comments").css("width", "100%");
        $(".OutComment .fb-comments").first("span").css("width", "100%");
    });
</script>