﻿@using SmartShop.UI
@using System.Data
@using SmartShop.Utilities
@model SmartShop.DAL.ProductGroup

@{
    ViewBag.Title = Model.GroupName;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var group = ProductGroupSvr.GetByParrent(Model.ProductGroupID);
    int maxItem = 10;
    var groupTop = group;
    if (!group.Any())
    {
        groupTop = ProductGroupSvr.GetByParrent(Model.GroupParrentID.Value);
    }
    var list = groupTop.Where(e => !e.Img.IsNullOrEmpty()).Take(maxItem).ToList();
}
<div id="dv_2" class="trenwrp">
    <div id="neotopmenu"></div>
    <div id="dvtopnav" class="topnavwrp">
        @Html.Partial("_MainMenu")
    </div>
    <div id="ctl11_dvMbnwrp" class="mainbannerwrp" style="display:none;">
        <div id="ctl11_dvMainbanner" class="mainbncontent"></div>
    </div>

    <div id="ctl11_dvMbnwrp" class="mainbannerwrp">
        <div id="ctl11_dvMainbanner" class="mainbncontent">
            <p>
                @foreach (var item in list)
                {
                    var width = 1000 / list.Count();
                    var src = HeThong.duongdan_anhSP(0, item.Img);
                    var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + item.ProductGroupID;
                    <a href="@url">
                        <img src="@src" width="@width" height="148" alt="@item.GroupName" />
                        @*<p>@item.GroupName</p>*@
                    </a>
                }
            </p>
        </div>

    </div>
</div>

<div id="dvspace" class="space10px">
    &nbsp;
</div>

<div id="dv_3" class="giuawrp">
    <div id="dvquicknav" class="quicknavwrp">
        <a id="ctl08_lktohome" href="/">Trang Chủ</a>
        <span class="quicknext">&nbsp;</span> <span id="ctl08_spCatTitleNav">@Model.GroupName</span>
    </div>
    <div id="undsp" class="space10px">
        &nbsp;
    </div>
    <div id="dvmainprwrp" class="mainproductwrp">
        @Html.Partial("_GroupLeft")

        <div id="dvrightcolum" class="mainproductrightwrp">
            <div id="dvrclct" class="mainproductrightct">
                @if (group.Any())
                {
                    foreach (var item in group)
                    {
                        List<string> lstThuongHieu = new List<string>();
                        var lstGroupChild = ProductGroupSvr.GetByParrent(item.ProductGroupID);
                        int totalRecord = 0;
                        DataSet ds = ProductSvr.GetSanPhamTheoDieuKien(null, item.ProductGroupID.ToString(), null, null, (ViewBag.PageSize ?? 16), 1, ref totalRecord);

                        var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + item.ProductGroupID;
                        if (ds != null && ds.Tables.Count > 0)
                        {
                            DataTable dt = ds.Tables[0];
                            if (dt != null && dt.Rows.Count > 0)
                            {
                                var viewAll = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + item.ProductGroupID;
                                totalRecord = 0;
                                <div class="rightproblockwrp">
                                    <div class="rightproblheader">
                                        <div class="rightproblheadertt">
                                            <a href="@url">@item.GroupName</a>
                                        </div>
                                    </div>
                                    <div id="dvrshd" class="rightproblsubhd">
                                        @foreach (var itemCate in lstGroupChild)
                                        {
                                            var subUrl = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + itemCate.ProductGroupID;
                                            string idNhom = item.ProductGroupID.ToString();
                                            <span>
                                                <a href="@url">@itemCate.GroupName</a>
                                            </span>
                                        }
                                    </div>
                                    <div id="dvrightblct" class="rightproblockct">
                                        @foreach (DataRow r in dt.Rows)
                                        {
                                            <div>
                                                @if ((lstThuongHieu.Count > 0 && lstThuongHieu.Contains(r["YTE_THUONG_HIEU"].ToString())) || lstThuongHieu.Count == 0)
                                                {
                                                    totalRecord += 1;
                                                    //var href = Html.Action("Index", "Nhomchitiet") + "?idNhom=" + r["ProductID"];
                                                    string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                                                    var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"];

                                                    <div id="dvblbdctprit" class="productitemwrp">
                                                        <div class="productitemct">
                                                            <div class="productitemimgwrp">
                                                                <div class="productitemimgcontent">
                                                                    <a href="@href">
                                                                        <img src="@path" border="0" title="@r["TEN"].ToString()" alt="@r["TEN"].ToString()" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div id="dvmahang" class="productitemcode">
                                                                <span>
                                                                    <a href="@href">@r["MA"].ToString()</a>
                                                                </span>
                                                            </div>
                                                            <div id="dvdeskm" class="productitemdeskm">
                                                                <div id="dvdes" class="productitemdes">
                                                                    <span>
                                                                        @r["TEN"].ToString()
                                                                    </span>
                                                                </div>
                                                                <div id="dvdes" class="productitemkm">
                                                                    <span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div id="dvitemprice" class="productitemprice">
                                                                <span>
                                                                    @String.Format("{0:0,0;(0:0,0);Liên hệ}", decimal.Parse(r["YTE_GIA_BAN"].ToString())) VNĐ
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div id="dvreadmore" class="rightblockreadmore">
                                        <div id="dvrmct" class="rightblreadmorect">
                                            <a href="@viewAll">Xem tất cả</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="dvspace" class="space250"></div>

                            }
                        }
                    }
                }
                else
                {
                    List<string> lstThuongHieu = new List<string>();
                    int totalRecord = 0;
                    DataSet ds = ProductSvr.GetSanPhamTheoDieuKien(null, Model.ProductGroupID.ToString(), null, null, (ViewBag.PageSize ?? 16), 1, ref totalRecord);

                    var url = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + Model.ProductGroupID;
                    if (ds != null && ds.Tables.Count > 0)
                    {
                        DataTable dt = ds.Tables[0];
                        if (dt != null && dt.Rows.Count > 0)
                        {
                            totalRecord = 0;
                            <div class="rightproblockwrp">
                                <div class="rightproblheader">
                                    <div class="rightproblheadertt">
                                        <a href="@url">@Model.GroupName</a>
                                    </div>
                                </div>
                                <div id="dvrightblct" class="rightproblockct">
                                    @foreach (DataRow r in dt.Rows)
                                    {
                                        <div>
                                            @if ((lstThuongHieu.Count > 0 && lstThuongHieu.Contains(r["YTE_THUONG_HIEU"].ToString())) || lstThuongHieu.Count == 0)
                                            {
                                                totalRecord += 1;
                                                //var href = Html.Action("Index", "Nhomchitiet") + "?idNhom=" + r["ProductID"];
                                                string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                                                var href = Html.Raw(Url.Action("Index", "Sanpham")) + "?id=" + r["ID"];

                                                <div id="dvblbdctprit" class="productitemwrp">
                                                    <div class="productitemct">
                                                        <div class="productitemimgwrp">
                                                            <div class="productitemimgcontent">
                                                                <a href="@href">
                                                                    <img src="@path" border="0" title="@r["TEN"].ToString()" alt="@r["TEN"].ToString()" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="dvmahang" class="productitemcode">
                                                            <span>
                                                                <a href="@href">@r["MA"].ToString()</a>
                                                            </span>
                                                        </div>
                                                        <div id="dvdeskm" class="productitemdeskm">
                                                            <div id="dvdes" class="productitemdes">
                                                                <span>
                                                                    @r["TEN"].ToString()
                                                                </span>
                                                            </div>
                                                            <div id="dvdes" class="productitemkm">
                                                                <span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div id="dvitemprice" class="productitemprice">
                                                            <span>
                                                                @String.Format("{0:0,0;(0:0,0);Liên hệ}", decimal.Parse(r["YTE_GIA_BAN"].ToString())) VNĐ
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                                @if (ViewBag.PageSize == null)
                                {
                                    var viewAll = Html.Raw(Url.Action("Index", "Nhomsanpham")) + "?groupId=" + Model.ProductGroupID + "&pageSize=1000";
                                    <div id="dvreadmore" class="rightblockreadmore">
                                        <div id="dvrmct" class="rightblreadmorect">
                                            <a href="@viewAll">Xem tất cả</a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div id="dvspace" class="space250"></div>

                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
